[2022-07-05 10:56] cutiechi opened #31 "404 Not Found"
https://uniffle.apache.org/

[2022-07-05 11:12] jerryshao commented on #31
We haven't yet built the website for now...

[2022-07-06 12:11] wForget opened #37 "Implement rest api for shuffle server and coordinator"
We can implement some rest api for the shuffle server and coordinator to get server's status and control server's behavior, and also provide api for the web ui.

[2022-07-08 14:42] zuston opened #44 "Introduce the reservedData to support more custom pluggable accessCheckers"
### Background
In current implementation, DelegationRssShuffleManager could decide whether to use uniffle or sort shuffle service by calling remote coordinator. The pluggable accessCheckers can be extended in coordinator to support more custom requirements.

### Motivation
When we hope the uniffle can be applied to specified spark jobs to control which shuffle service to use, the mechanism of plug

[2022-07-11 06:58] jerqi opened #48 "[Feature Request] Deploy Uniffle on Kubernetes"
It's good to have a Kubernetes operator to help us deploy Uniffle on Kubernetes. We can automate our system operations.  This issue track the pull requests about Kubernetes operator.

[2022-07-11 09:51] zuston commented on #44
As i know the pluggable access checkers have been supported in current implementation of coordinator, which are managed by AccessManager.

And to support customized acess checker, i hope we can introduce a  general pb message in AccessInfo. Feel free to discuss more. @duanmeng

[2022-07-11 14:15] jerqi commented on #37
There is an activity called Tencent's OpenSourceTalent (https://github.com/Tencent/OpenSourceTalent/issues/28).  The first task is similar to the issue. There will be some students to finish the work.

[2022-07-12 02:13] colinmjj opened #50 "Remove experimental feature with ShuffleUploader"
ShuffleUploader is an experimental feature which is target to merge and upload data from local disk to remote storage if local disk hasn't enough space.
Currently, `MEMORY_LOCAL_HDFS` is introduced as the common solution for shuffle data storage.
ShuffleUploader is not needed any more, and we also can avoid maintenance this in the future.

[2022-07-12 10:54] duanmeng commented on #44
We coud add a pb message `AccessInfo` and put it inside the pb message `AccessClusterRequest`. And then make the client can populate these `extraProperties` through spark conf. So that we can inject special access checkers (not part of the code base of uniffle) for business requirements.
[code]

[2022-07-13 02:01] #50 closed

[2022-07-14 08:21] kaijchen opened #54 "[Code Style] Indentation rules"
There are 2 indentation styles in the current code base. Which are mostly the same except for line wrapping.
It would be better to have it unified early. How do you think?

### 4 spaces for line wrapping

[code]

### 2 spaces for line wrapping

[code]

[2022-07-14 08:23] kaijchen commented on #54
Personally I prefer the "4 spaces" way, because it differentiates line wrapping with block indents.

[2022-07-14 09:22] jerryshao commented on #54
I'm +1 on 4 spaces for line wrapping.

[2022-07-15 06:44] kaijchen commented on #54
Closed for #56.

[2022-07-15 06:44] #54 closed

[2022-07-18 15:54] zuston commented on #44
All done. Close

[2022-07-18 15:54] #44 closed

[2022-07-20 12:57] frankliee opened #61 "Change the default branch name from master to main"
"master" may have some unfriendly meanings, as an alternative, many new projects have leveraged "main".

[2022-07-21 02:12] jerqi commented on #61
I think it's not a big problem. Apache Spark and Apache Flink also use the name `master`.

[2022-07-21 02:26] frankliee commented on #61
They are old projects, new projects like Gluten/Velox use "main", and Github's default branch for new projects are "main".

[2022-07-21 02:32] jerqi commented on #61
There are also many new projects that use the name `master`.

[2022-07-21 02:39] colinmjj commented on #61
Besides master, words like 'blacklist', 'slave' also shouldn't be used in code to avoid problem.

[2022-07-21 13:48] jerryshao commented on #61
I don't think this is a problem,  and we should spend time on such things.

[2022-07-22 01:54] #61 closed

[2022-07-22 08:15] zuston opened #66 "[Feature Request] Introduce the unique trace id to debug easily"
### Motivation
It's hard to analyze which process cost the most time of one remote request in current codebase, due to lacking corresponding trace id in client and server client.

### Plan
Maybe we could introduce the unique trace id which is generated on time/client-machine-id in one remote request, and then record it in client's log. And when requesting remote server, we should populate this to

[2022-07-25 12:33] jerqi commented on #66
Will the feature influence the performance?

[2022-07-25 14:23] zuston commented on #66
Maybe it will. But we could introduce new config to enable debug, default is false.

[2022-07-25 15:17] jerqi commented on #66
Do Flink have similar trace system? Flink don't have similar trace system. We ever implement this feature, but we don't choose to merge it. We just use that feature to get some information, the complexity which the feature brings is bigger than goodness. For offline system, metrics system may be better choice than trace system. Because although one time rpc is slow, but the average may be fast. I

[2022-07-26 06:10] xianjingfeng opened #71 "[Improvement]LocalStorage init use multi thread"
We have multi disk in a host. If shuffle server exit abnormally, there will be many files need to be clear when shuffle server start again and this operation will cost a lot of time

[2022-07-26 06:20] jerqi commented on #71
How much time will it take to execute the operation? Could you provide some concrete data?

[2022-07-26 06:21] jerqi commented on #71
How much time will it take to execute the operation? Could you provide some concrete data?

[2022-07-26 06:22] colinmjj commented on #71
@xianjingfeng I think clear unnecessary data before start shuffle server by Linux command is a better way, and clear process during shuffle server startup is a backup solution.
I prefer to improve start script to do such thing.

[2022-07-26 06:36] xianjingfeng commented on #71
more that 30 seconds per disk, it dependency disk performance and usage.

[2022-07-26 06:41] jerqi commented on #71
What's the type of disk that you use? The performance of disk is a little strange. We only delete one directory on every disk, it shouldn't take so much time.

[2022-07-26 06:49] xianjingfeng commented on #71
hdd, about 1T usage per disk

[2022-07-26 06:54] xianjingfeng commented on #71
if do this in start scirpt, we need parse conf file in start script, i think it is heavy for start script and it is difficult to maintain

[2022-07-26 06:55] xianjingfeng commented on #71
FileUtils.deleteDirectory will delete it's childrens first

[2022-07-26 07:06] jerqi commented on #71
Ok, I got it. It's ok for me to use multi-thread to do cleanup operation.

[2022-07-26 07:24] frankliee commented on #71
How many files are deleted in your disk ?  Uniffle has merged data in each partition, so there will not exist very large number of files. Can you do a simple test by using `rm -rf`？

[2022-07-26 07:34] xianjingfeng opened #73 "[Improvement] ShuffleBlock should be release when finished reading"
We found spark executor is easy be killed by yarn, and i found it is because executor use too mush offheap memory when read shuffle data.
I found most of offheap memory is used to store uncompressed shuffle Data, and this part of memory will be release only when GC is triggered

[2022-07-26 07:44] xianjingfeng commented on #71
I neither count how many files nor test by using rm -rf , i will try to do this recently

[2022-07-26 10:00] xianjingfeng opened #76 "[Improvement] Disallow sendShuffleData if requireBufferId expired"
We found shuffle server which under high load is easy encounter `java.lang.OutOfMemoryError: Java heap space` even we allocate more jvm heap memory and less `rss.server.buffer.capacity `

The steps for the exception above:
1. When  shuffle server under high load, `requireBufferId` is easy to expire, and Suffle server release `usedMemory`
2. Client `sendShuffleData` using a expired  `requireBufferI

[2022-07-26 10:16] xianjingfeng opened #77 "[Feature Request] Support deploy multiple shuffle servers in a single node"
We have 1.2T memory per host, so we need deploy multiple shuffle servers in a single node.
But current partition assignment policy is not suitable to do that.
Because partition maybe assign to a same host and client maybe fail if one host down

[2022-07-26 10:21] xianjingfeng opened #78 "[Bug] The metric `grpc_open` sometime incorrect"
We found the value of `grpc_open` sometime very big(>1000) even no application run in our cluster

[2022-07-26 10:32] xianjingfeng opened #79 "[Improvement] Process don't exit if exec start script using ansible"
Process don't exit if exec start script using ansible. Therefore, we can't do batch start operation for this.

[2022-07-26 10:34] xianjingfeng opened #80 "[Feature Request] Support shuffle server decommissioned"
kill process is not graceful, so we need shuffle server support decommissioned

[2022-07-26 10:38] zuston commented on #77
As i know, partition assignment policy could be implemented by yourself.

[2022-07-26 10:40] zuston commented on #80
+1. Now the decommission could be used by exclude node file in coordinator side.

Besides, the exclude-node-file could be stored in HDFS.

[2022-07-26 10:41] zuston commented on #79
+1. We have similar problem.

[2022-07-26 11:13] jerqi commented on #48
@wangao1236 Do you want to help us?

[2022-07-26 11:15] wangao1236 commented on #48
Thanks, I'll submit some PR about dockerfile and operator of Uniffe.

[2022-07-26 11:25] zuston opened #81 "Benchmark: ESS and Uniffle"
Could the community provide the official benchmark with ESS and uniffle?

[2022-07-26 12:34] zuston opened #86 "[Feature] Introduce graceful decommission for shuffle server"
When shuffle servers needed to decommission are included in exclude-node-files, we hope shuffle server will exit by its own when all apps finished.

Draft PR: #85

[2022-07-26 12:39] jerqi commented on #86
Why don't we reuse the issue #80? In my opinion, it's duplicate issue.

[2022-07-26 13:28] xianjingfeng commented on #77
Yes, but not only assignment policy need to be change, such as start script, i will create a pr for this

[2022-07-27 02:46] zuston commented on #86
Sorry i miss previous issue. Merge this topic to #80

[2022-07-27 02:46] #86 closed

[2022-07-27 03:33] jerqi commented on #76
Do you have the solution of the problem?

[2022-07-27 03:59] jerqi commented on #77
I'm also curious why we need to modify start script?

[2022-07-27 04:00] jerqi commented on #78
Could you provide more detailed information?

[2022-07-27 04:02] jerqi commented on #79
Do you have the solution of the problem?

[2022-07-27 04:05] jerqi commented on #80
I understand that you need  a `rolling upgrade` feature.  In our plan, we want to  accomplish this feature by k8s operator. For the standalone mode, we don't have the plans,. And it's also necessary to do some surveys about this feature, I think we should have more discuss about this problem.

[2022-07-27 04:11] smallzhongfeng opened #89 "[Improvement] Add a load policy based on disk performance"
The current load balancing strategy only considers the available memory, whether to add another strategy based on disk performance.

[2022-07-27 04:24] jerqi commented on #89
It's ok to add extra strategy.  But we need a good method to tell us whether the strategy is good enough.

[2022-07-27 05:17] czy006 commented on #48
I want to join in this issuses dev,I am currently working as an Apache Flink Operator developer, and I believe my experience will be helpful to our project @jerqi

[2022-07-27 06:20] jerqi commented on #48
Thanks, you're welcome. We have developed this feature in our internal company for  a period time. And @wangao1236 is my colleague. He will share our design document and give you some tasks. And you can also review his pull request and give us some advice.

[2022-07-27 06:37] smallzhongfeng commented on #89
The current idea is to sort the IO cases of available disks by heartbeat when the parameter "rss.server.health.check.enable" is turned on, regardless of the number of partitions and memory.

[2022-07-27 06:51] jerqi commented on #89
The idea is acceptable. But there are some questions
1. Why do we need HealthCheck? HealthCheck is an experimental feature now, maybe it's not stable enough. That means that you need do some extra work to improve the feature.
2. Should we add some extra metrics to measure the effect of strategy?  We usually use the memory of server to measure current strategy, we hope every server use similar quan

[2022-07-27 07:36] smallzhongfeng commented on #89
1. I think this scheme can only support MEMORY LOCALFILE.
2. Since this HealthCheck collects the information of the local disk, we can use this feature. This health check now defaults to true, which hides some danger because RSS is sensitive to disk IO.
3. And if there are any problems during the test phase, I will report back promptly.
4. I will use the configured disk capacity of each server as

[2022-07-27 07:46] jerqi commented on #89
1. Why do the strategy only support MEMORY_LOCALFILE?  We would like to use MEMORY_LOCALFILE_HDFS in our production environment. Our MEMORY_LOCALFILE_HDFS can use multiple HDFS.
2. The HealthCheck's default value is false now.

[2022-07-27 08:09] colinmjj commented on #89
@smallzhongfeng The workload of Shuffle Server depends on a lot of things, eg, Memory, Disk IO, NetworkIO, etc. To simplify the assignment strategy, memory is chosen as the most important metric, because any problem in shuffle server will cause much memory usage. For your case, if there has problem in Disk IO, data won't be flushed as expected, and more and more data will be stored in memory.
Unif

[2022-07-27 08:14] smallzhongfeng commented on #89
I mean the shuffleServer's property isHealthy returns true by default, but not the HealthCheck's default value.

[2022-07-27 08:15] smallzhongfeng commented on #89
@colinmjj I think you are right, but is it possible that memory is allocated normally, but disk IO has problems.

[2022-07-27 08:27] colinmjj commented on #89
I think you're worry about the shuffle server with abnormal disk is assigned to job.
Currently, LocalStorageChecker is responsible for such check and will exclude abnormal disk.
But if all disks are broken,  we can improve HealthCheck to handle such problem and exclude the shuffle server during the assignment.

[2022-07-27 08:58] smallzhongfeng commented on #89
Do we need to turn this parameter HealthCheck on by default? This allows for better screening of healthy machines. @colinmjj @jerqi

[2022-07-27 09:09] jerqi commented on #89
I think we should verify the function `HealCheck` in production environment first before we turn it on. But there are fewer broken disk in our production environment. I prefer use `false` as default value currently.

[2022-07-27 09:21] smallzhongfeng commented on #89
But I think we should open it up so that we can verify this situation in more production environments.

[2022-07-27 09:22] smallzhongfeng commented on #89
Maybe you are right, but I think we should open it up so that we can verify this situation in more production environments.

[2022-07-27 09:59] jerqi commented on #89
You can turn it on when you deploy the shuffle server rather than use `true` as a default value.

[2022-07-27 10:09] smallzhongfeng commented on #89
OK.

[2022-07-27 10:09] #89 closed

[2022-07-27 10:25] zuston opened #90 "[Performance Optimization] Improve the speed of writing index file in shuffle server"
### Motivation
When I test uniffle performance, i found a huge performance drop due to the low speed of writing index file. Flame graph attached:

![reliao_img_1658917352873](https://user-images.githubusercontent.com/8609142/181224611-faf20e2b-a65a-44ad-ad15-560addf43c85.png)

### Solution
Use the `dataOutputStream = new DataOutputStream(new BufferedOutputStream(fileOutputStream));` in `LocalFileW

[2022-07-27 11:07] colinmjj commented on #90
@zuston good catch

[2022-07-27 11:59] zuston opened #92 "[Performance Optimization] The huge performance drop due to the method of getBlockIdsByPartitionId"
### Background

I found when getting shuffle result, the flame graph show the method of `getBlockIdsByPartitionId` occupy too much time.
![reliao_img_1658922962790](https://user-images.githubusercontent.com/8609142/181240913-8d38d12e-c62a-453d-a0df-f89a46e1b71a.png)

But i found the default bitmapNum is 1, and the conf of `spark.rss.client.bitmap.splitNum` looks abandoned in future.

[2022-07-27 12:20] xianjingfeng commented on #80
Depoly on k8s is a good choice. But one more choice is not a bad thing. Not all team willing to use k8s . I have create a pr.

[2022-07-27 12:26] xianjingfeng commented on #76
Yes, it is be testing in our production environment. I will watch it for a while. If it's OK, I will create a pr

[2022-07-27 12:28] xianjingfeng commented on #77
start script will process existence

[2022-07-27 12:30] xianjingfeng commented on #77
If our plan is deploy on k8s, this issue should close?

[2022-07-27 12:43] xianjingfeng commented on #78
No logs, we just found this phenomenon. Maybe  `org.apache.uniffle.common.rpc.MonitoringServerCall#close` not called sometimes. I try to call `decCounter`  in `MonitoringServerCallListener#onComplete/onCancel/onComplete` and it work. But i don't know the real reasion

[2022-07-27 12:45] xianjingfeng commented on #79
Yes, by using nohup

[2022-07-27 12:46] jerqi commented on #77
K8S Deployment can't solve this issue.

[2022-07-27 12:51] jerqi commented on #78
I guess that   method `close` could not be called sometimes if there is an exception.

[2022-07-27 14:06] jerqi commented on #80
Could you write a design doc's (use google doc) ? Because this issue is a little complex.

[2022-07-27 15:11] jerqi commented on #80
If we want to add some interface to control shuffle server's behavior,  we should have a complete design, and we think we need detailed discussions. We ever have similar mind in issue #37

[2022-07-27 15:19] jerqi commented on #78
cc @colinmjj , Do you remember our flaky metric test? I guess that it's caused by this issue.

[2022-07-28 02:23] zuston commented on #92
@colinmjj

[2022-07-28 02:51] jerqi commented on #90
solved by #91

[2022-07-28 02:51] #90 closed

[2022-07-28 02:57] colinmjj commented on #92
The performance problem of `getBlockIdsByPartitionId` is a known issue.
With current design, blockId should be stored in shuffle server to support features like block filter, data validation, etc.
Here is the challenge about how to store blockId in shuffle server, and we need consider how to reduce memory cost & have better performance.
The current implementation is target to reduce memory cost in

[2022-07-28 03:00] colinmjj commented on #81
@zuston You can refer this [blog](https://cloud.tencent.com/developer/article/1943179) for the benchmark related.

[2022-07-28 03:10] colinmjj commented on #77
Yes, this is the limit with current implementation

[2022-07-28 03:15] jerqi commented on #77
@xianjingfeng I think you can continue this.

[2022-07-28 03:16] zuston commented on #81
Attach the google doc about test result in our internal cluster： https://docs.google.com/document/d/1nmHMBEaa4lHfgQkdlYokTtXt12F5vRJiQ2MCmTQbW6k/edit#heading=h.b1udpb9l28w7

I can't achieve the same result from the blog. Could u help check this? @colinmjj @jerqi

[2022-07-28 03:18] zuston commented on #92
Got it. If we have the better design on this, i think it will achieve better performance.

[2022-07-28 03:23] zuston opened #95 "[Performance Optimization] Multiple channels when getting shuffle data in client side"
### Motivation
Now the executor only will use the single TCP connection with the specified shuffle server, so when multiple tasks are running concurrently, it will share this channel. Maybe it will reduce the whole throughput.

Do we have any plan to introduce extra config to allow user to create more channels in client side?

Maybe we should do some performance test to prove this improvement effe

[2022-07-28 03:29] colinmjj commented on #81
@zuston The benchmark of blog is based on Spark 2.4.6.
If there has no random disk IO problem with ESS, Uniffle is expected has **poor performance** than ESS

[2022-07-28 03:35] colinmjj commented on #95
@zuston The current implementation limit the number of connection, because don't want too many connection established between client and shuffle server.
We also plan to improve this by using netty instead of Grpc, not only about throughput but also reduce unnecessary serialization in Grpc.

[2022-07-28 03:38] zuston commented on #95
Glad to hear this. From the flame graph, due to extra memory-copy, it cost too much time in shuffle server side.

If using the netty to directly manipulate shuffle data bytebuf in off-heap, it may get better performance.

Besides, do we need to w/r shuffle data to files using nio to match with the netty? Please let me know whether i'm wrong.

[2022-07-28 03:41] jerqi commented on #95
Could we put this into the 0.7 version plan?

[2022-07-28 03:43] colinmjj commented on #95
Yes, I think so

[2022-07-28 03:49] jerqi commented on #76
Could you share your solution?  We can discuss first.

[2022-07-28 03:51] jerqi commented on #79
Do you want to raise a pr?

[2022-07-28 08:30] zuston commented on #95
So do we have a roadmap of version-release/features in github? @jerqi

[2022-07-28 08:33] zuston opened #97 "[Improvement] Introduce config to customize assignment server numbers in client side"
### Motivation
Now the assignment number specified by coordinator's conf of `rss.coordinator.shuffle.nodes.max`. But i think it's not suitable for all spark jobs.

We should introduce new config to let client specify the assignment server number. `rss.coordinator.shuffle.nodes.max` should be as a max limitation of clients' number.

[2022-07-28 09:09] jerqi commented on #97
Make sense.

[2022-07-28 09:09] smallzhongfeng opened #98 "[Improvement] Add indicators to judge whether the node is healthy"
At present, there is only disk i/o in the health detection of the machine. Whether to add the index of memory utilization?  What do u think of that?? @jerqi

[2022-07-28 09:10] jerqi commented on #95
Not yet. 0.5 version's main feature is to support K8S.

[2022-07-28 09:11] jerqi commented on #98
A heath check about memory utilization?

[2022-07-28 11:30] zuston commented on #81
Yes, you are right. @colinmjj . I tested in 5TB terasort, ESS directly failed when shuffle read due to 100% diskio. But uniffle looks good.

I have updated latest result in google doc. @colinmjj @jerqi . I think maybe it would be better to attach the result to github issue.

[2022-07-28 16:23] jerqi commented on #80
Yarn node's decommission. https://hadoop.apache.org/docs/current/hadoop-yarn/hadoop-yarn-site/GracefulDecommission.html Maybe, we should also realize other system decommission implement.

[2022-07-29 02:15] zuston commented on #80
Yes. In #85, I follow the rule of YARN decommission mechanism. So i think it's better to control the decommission by coordinator. Feel free to discuss more

I looked the HDFS datanode decommission, it's also like YARN decommission. refer: https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HdfsDataNodeAdminGuide.html

[2022-07-29 02:16] zuston commented on #97
I will take it and submit PR later.

[2022-07-29 03:50] zuston commented on #97
PR #100

[2022-07-29 03:51] jerqi commented on #73
solved by pr #74

[2022-07-29 03:51] #73 closed

[2022-07-29 04:15] zuston opened #101 "[Improvement] Ignore failure on initializing local storage when setting multiple local storage paths in shuffle server client"
### Motivation
 Ignore failure on initializing local storage when setting multiple local storage paths in shuffle server client

[2022-07-29 06:07] jerqi commented on #89
@colinmjj
One question?
If server A, server B have equal memory, but they have different quantity disks, should we allocate them the same shuffle partitions?
The server which has fewer disks will be more slower. Although we don't allocate extra shuffle partitions to it, when it have processed these partitions, the coordinator will allocate excessive partitions to it, it will be slower again. I thi

[2022-07-29 07:57] jerqi commented on #71
solved by pr #72

[2022-07-29 07:57] #71 closed

[2022-07-29 11:52] zuston commented on #101
Solved by #102

[2022-07-29 11:52] #101 closed

[2022-07-29 13:23] xianjingfeng commented on #77
ok

[2022-07-29 13:25] xianjingfeng commented on #79
yes

[2022-07-29 13:37] xianjingfeng opened #106 "[Improvement] RPC timeout should be set in RPC client"
If oom encountered in shuffle server, rpc client will blocked until shuffle server was killed

[2022-07-29 13:42] xianjingfeng opened #107 "[Improvement] When `registerShuffleServers` fail, we should assign partition again"
If registerShuffleServers failed, task will fail and then application will failed

[2022-07-29 13:48] xianjingfeng opened #108 "[Improvement] Read shuffle data fail because read index file fail"
Every commit calls must success when  `sendCommit` now, this will casue if one shuffle server dead, then application fail

[2022-07-29 13:57] xianjingfeng opened #109 "[Improvement] There should be a bounded and blocked queue when sendShuffleData in client side"
In `RssShuffleManager`，the `workQueue` of `threadPoolExecutor`is unbounded now. If `sendShuffleData` not fast enough, it will cost a lot of memory

[2022-07-29 15:26] jerqi commented on #107
Make sense, do you want to raise a pr?

[2022-07-29 15:29] jerqi commented on #109
Will it bring any other problems?

[2022-07-29 15:31] jerqi commented on #106
Make sense, do you want to raise a pr?

[2022-07-29 15:33] jerqi commented on #108
We recommend users to use StorageType MEMORY_LOCALFILE_HDFS or MEMORY_LOCALFILE. The application won't commit data.

[2022-07-30 03:56] xianjingfeng commented on #106
Yes

[2022-07-30 03:56] xianjingfeng commented on #107
Yes

[2022-07-30 03:57] xianjingfeng commented on #108
So, should we remove `LOCALFILE`?

[2022-07-30 04:05] xianjingfeng commented on #109
It may cause OOM

[2022-07-30 04:14] jerqi commented on #109
We have a class `WriteBufferManager`. The class will control the memory that we can use.  It is strange to cause OOM. I doubt whether it is caused by the issue that pr #67 want to fix.

[2022-07-30 04:21] jerqi commented on #108
It's useful for test code. And if we want to reduce our shuffle server state, it's a good way to commit data although the LOCALFILE storageType don't have a good practice.  So I think we shouldn't remove it currently.

[2022-07-30 08:24] xianjingfeng commented on #109
May be it is,  i am not sure.  I once found out an application failed due to `requestExecutorMemory` fail. Should we limit memory usage when sending data.

[2022-07-30 08:31] jerqi commented on #109
I think we don't need, because we have `WriteBufferManager`. If our `WriteBufferManager` works well, OOM shouldn't occur. If our `WriteBufferManager` has bug, we should fix it.

[2022-07-30 09:37] xianjingfeng opened #111 "[Improvement] Waiting time for executing stop script is too long even if the JVM exits early"
Waiting time for executing stop script is too long even if the JVM exits early.

[2022-07-30 10:03] jerqi commented on #111
Solved by pr #112

[2022-07-30 10:03] #111 closed

[2022-07-30 12:25] zuston commented on #106
I had a similar problem, but the client side would exit with a timeout, due to using the `blockingStub.withDeadlineAfter(
        RPC_TIMEOUT_DEFAULT_MS, TimeUnit.MILLISECONDS).requireBuffer(rpcRequest);` @jerqi @xianjingfeng

[2022-07-30 13:11] jerqi commented on #106
Some rpc methods don't use  `blockingStub.withDeadlineAfter( RPC_TIMEOUT_DEFAULT_MS, TimeUnit.MILLISECONDS).requireBuffer(rpcRequest)`.

[2022-07-31 01:34] xianjingfeng commented on #80
I think we should consider more things, such as
1. Is it easy to use if we deploy on k8s and IP is not fixed?
2. Split-brain. If pass commands through heartbeat, shuffle server may receive different messages meanwhile and how do we ensure correctness. The decommission function can be solved. What about other functions in the future?
3. Compatibility. If pass commands through heartbeat, we need to

[2022-07-31 14:28] jerqi commented on #76
cc @colinmjj . There seems not be cases in our production environment. But I think the analysis is correct. What do you think?

[2022-07-31 14:31] jerqi commented on #80
cc @colinmjj . What do you think? I remember that you want to use coordinator to dispatch the configuration to shuffle servers. It's similar to use coordinator to decommission.

[2022-08-01 02:33] colinmjj commented on #80
I think such feature is about command line or some API to manage the behavior of coordinator/shuffle server.
There should be an overall picture to describe how to make this happen.
Besides decommission, how about update some configuration in shuffle server, clear shuffle data(which maybe useful for streaming jog), etc.
All above feature is management related, so I prefer to have a framework which

[2022-08-01 02:39] colinmjj commented on #76
I think @xianjingfeng is right, with current implementation, OOM will happen if `requireBufferId` was expired in Shuffle Server already, this maybe caused by GC, network problem, high workload in shuffle server etc.
It's better to have the limitation to accept the data with `requireBufferId` only to avoid such problem.

[2022-08-01 03:01] wangao1236 commented on #48
I have written a design document, please help to review it: https://docs.google.com/document/d/1dlTvC0I-1WDNS6MOZp_0KB6mR3qr-EUiEJ11eeI828g/edit#heading=h.e0k4tcq0il5a
@jerqi @czy006

[2022-08-01 03:10] jerqi commented on #48
@wangao1236 Great work!

[2022-08-01 03:17] zuston commented on #48
I have some experience in operator development(our internal elastic Yarn operator), maybe i can join this ticket

[2022-08-01 03:19] wangao1236 commented on #48
Welcome~

[2022-08-01 04:06] zuston commented on #48
Left some comments. Thanks for your great work @wangao1236.

Besides, i want to know which language will be used when implementing this operator? Java or Golang.
Do we have a POC? Maybe it benefit us to understand your design.

[2022-08-01 06:24] wangao1236 commented on #48
We use golang to develop it. Sorry, there is currently no public POC environment.

[2022-08-01 07:42] smallzhongfeng opened #114 "[Improvement] Can we support AE of SPARK2.4"
At present, Spark does not support AE in version 2.4, should it be supported? Or are there any reasons why it is not supported?

[2022-08-01 08:05] colinmjj commented on #114
I think AE is an experience feature in Spark 2.4, and it was officially announced in Spark 3.
So it isn't planned to be supported in Spark 2.4 in short term, but anyone is welcome to contribute this feature if interested.

[2022-08-01 08:28] jerqi commented on #114
AE of Spark 2.4 isn't a complete feature. We shouldn't support it.

[2022-08-01 12:18] jerqi commented on #97
Solved by #100

[2022-08-01 12:18] #97 closed

[2022-08-02 02:51] jerqi commented on #107
Solved by #115

[2022-08-02 02:51] #107 closed

[2022-08-03 02:49] jerqi commented on #106
Solved by #113

[2022-08-03 02:49] #106 closed

[2022-08-03 07:48] xianjingfeng commented on #108
I found if use `MEMORY_LOCALFILE`, `finishShuffle` will not be called,  and buffer in server side may not flush in time, and than reader will fail because read index file fail. as follows
`Error happened when get shuffle index for appId[application_xxx], shuffleId[3], partitionId[1], Can't find folder /HDATA/2/rssdata/application_xxx/3/1-1`

[2022-08-03 07:57] colinmjj commented on #108
@xianjingfeng With current implementation, write shuffle data to N shuffle server can handle the situation about shuffle server failed. But it will cost N times storage.  User can make such choice.

[2022-08-03 08:10] xianjingfeng commented on #108
We had set `spark.rss.data.replica.write=2` and `spark.rss.data.replica=3`.But we found all shuffle server of a partition have not flush in time today and we have found in two applications. It may be easy to encounter when our cluster is not in high load.

[2022-08-03 08:24] colinmjj commented on #108
what kind of storage type used in your case?

[2022-08-03 08:27] xianjingfeng commented on #108
MEMORY_LOCALFILE

[2022-08-03 08:35] colinmjj commented on #108
@frankliee can you do more clarification about how to config  `spark.rss.data.replica.write` & `spark.rss.data.replica.read` ?

[2022-08-03 11:09] frankliee commented on #108
These configs are come from quorum protocol.
`rss.data.replica` is default replica number of partition.
`rss.data.replica.write` is the minimum replica that writer should write metadata and data successfully.
`rss.data.replica.read` is the minimum replica that reader should read metadata successfully (data can read from only one replica).
So the recommended values are (1,1,1) and (3,2,2).

These a

[2022-08-03 11:50] jerqi opened #123 "Improve our test code style"
Now, there are many style errors in our test code. Because our checkstyle plugin don't check test code. To enable the plugin, we should fix the style errors of the code first. https://github.com/Tencent/Firestorm/pull/155 pr tells us how enable plugin to check test code style. We should enable the plugin to check test code style in one branch,  fix the style errors module by module and
cherry-pick

[2022-08-04 02:42] xianjingfeng opened #124 "[Bug] Blocks read inconsistent: expected xxx blocks, actual xxx blocks"
1. If we set `spark.rss.data.replica.write=2` and `spark.rss.data.replica=3`,Data integrity cannot be guaranteed in any one shuffle server. right?
2. But in method `org.apache.uniffle.storage.handler.impl.LocalFileQuorumClientReadHandler#readShuffleData`, it just read from one shuffle server

[2022-08-04 03:15] frankliee commented on #124
Do you set `rss.data.replica.read=2` ?  It ensures the bitmap metadata of blocks to be written to 2 servers.

As long as the read client gets the metadata from the 2 of servers, it can check the integrity of data from any one of server.

[2022-08-04 03:42] xianjingfeng commented on #124
Yes

But this step seems execute before `readShuffleData`

[2022-08-04 03:45] xianjingfeng commented on #124
internal version 0.5.0-snapshot

[2022-08-04 06:17] frankliee commented on #124
The metadata is acquired in advance, but data integrity check is executed when all blocks have been fetched.
In current implementation, the client will only fetch “the first available” server to avoid the read cost.
But when the data in this first server is damaged, the final check will report "read inconsistent".

[2022-08-04 06:33] xianjingfeng commented on #124
I know, but the application will fail

[2022-08-04 06:39] xianjingfeng commented on #108
So, Is there a problem?

[2022-08-04 06:42] jerqi commented on #124
I feel a little unreasonable about this implement. Should we read next shuffle server when the data isn't complete?

[2022-08-04 06:48] xianjingfeng commented on #124
I am trying to do this, and i think it needs to be fixed with #108 together

[2022-08-04 06:57] frankliee commented on #124
I would be happy to review this PR, and you should avoid to fetch redundancy blocks from the another server (because the spark has consumed this blocks).
Rss has provided some skipping mechanisms for localfile and hdfs.
But I'am worry about memory data. @jerqi

[2022-08-04 07:00] jerqi commented on #124
In my opinion, memory data should also have data skip ability, and our read memory process should be optimized.

[2022-08-04 07:07] xianjingfeng commented on #124
Get

[2022-08-04 07:08] frankliee commented on #124
This will change server's memory storage to add "index" like hdfs

[2022-08-04 07:14] jerqi commented on #124
This problem will should discuss in another issue, we also should have a simple design doc.

[2022-08-04 14:25] smallzhongfeng opened #127 "[Improvement] Add timeout reconnection in DelegationRssShuffleManager"
When `DelegationRssShuffleManager` send an `AccessClusterRequest` to the Coordinator, should we increase the logic of overtime resending?

[2022-08-04 15:03] jerqi commented on #127
Why do we need this? What's your situation?

[2022-08-05 03:20] smallzhongfeng commented on #127
The reason is that the `ShuffleServer` returns the heartbeat at a frequency of 10s each time. The `Coordinator` filters the `ShuffleServer` whose available memory is lower than the threshold value, which may cause the `ShuffleServer` to be lower than the allocable quantity. In this way, it is pushed down to SSM, add a retry logic and two parameters, retry times and time. Within the user's expected

[2022-08-05 03:23] jerqi commented on #127
Similar pr: https://github.com/apache/incubator-uniffle/pull/115 , Could it solve your issue?

[2022-08-05 03:51] jerqi commented on #127
My fault. I misunderstand you. The improvement is acceptable for me. Do you want to raise a pr?

[2022-08-05 04:18] smallzhongfeng commented on #127
Sure, I am trying to do this.

[2022-08-06 02:49] jerqi opened #133 "[Umbrella] Netty replace Grpc on data transfer"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues) and found no similar issues.

### Describe the proposal
When we use Grpc, we find that our bottleneck is on Grpc, Grpc brings the cost of data copy and d

[2022-08-06 02:51] jerqi opened #134 "[Improvement] Support more tasks of the application"
The current blockId is designed as following:
[code]
**Why we need blockId?**
It's designed for data check, filter, memory data read, etc.

**Why blockId is designed as above?**
BlockId will be stored in Shuffle server, to reduce memory cost. Roaringbitmap is used to cache it.
According to implementation of Roaringbitmap, the design of BlockId is target to use `BitmapContainer` instead of `ArrayCo

[2022-08-06 02:59] jerqi opened #135 "[Improvement] Support to run TPCDS in our integration-test"
It's better to run TPCDS to verify the correctness of our system. It will help us find problems more quickly.

[2022-08-06 03:08] jerqi opened #136 "[Improvement][Aqe] Avoid calling `getShuffleResult` multiple times"
When we use AQE, we may call `shuffleWriteClient.getShuffleResult` multiple times. But if both partition 1 and partition 2 are on the server A, we call getShuffleResult(partition 1) to get data form server A, and then we call getShuffleResult(partition 2) to get data form server A, it's not necassray. We can get getShuffleResult(partition 1, partition 2) instead.

[2022-08-06 03:17] jerqi opened #137 "[Improvement][AQE] Sort MapId before the data are flushed"
When we use aqe, we need use mapId to filter the data which we don't need, If we sort MapId before the data are flushed. We split the data to segments, if a segment don't have the data which we want to read, we will drop the data. If data is sorted by mapId, we can filter more data and mprove our performance.

[2022-08-06 03:21] jerqi opened #138 "[Improvement] Add a integration test case for Spark with MiniYarnCluster"
We use Spark local mode to write integration test, but we can't cover some cases, such as https://github.com/Tencent/Firestorm/pull/187,  so we should add a integration test case for Spark with MiniYarnCluster

[2022-08-07 02:21] zuston commented on #138
Oh, the bug of https://github.com/Tencent/Firestorm/pull/187 is caused by me.

Maybe I can take this ticket, could u help assign this to me?

[2022-08-07 03:50] jerqi commented on #138
Thanks.

[2022-08-08 06:06] jerqi commented on #127
Solved by #139

[2022-08-08 06:06] #127 closed

[2022-08-08 09:33] zuston opened #142 "[Improvement] Fine-grained shuffle manager fallback in shuffle level"
### Motivation
Now uniffle's delegation shuffle manager support fallback to sort shuffle manager in app level. We could implement it in shuffle level.

[2022-08-08 11:56] LuciferYang opened #143 "HealthCheckCoordinatorGrpcTest test failed on Apple Silicon"
Run  `mvn clean install ` on Apple Silicon, `HealthCheckCoordinatorGrpcTest` failed as follows:

[code]

Environment:

[code]

[2022-08-08 12:01] LuciferYang commented on #143
run `mvn clean test -pl integration-test/common -Dtest=HealthCheckCoordinatorGrpcTest` can pass,

[2022-08-08 12:22] LuciferYang opened #144 "Flaky test RssShuffleUtilsTest"
run `mvn clean install`

[code]

Environment:
[code]

[2022-08-08 14:15] smallzhongfeng opened #146 "[Improvement] Add the number of unhealthy nodes in CoordinatorMetrics"
When we turn on HealthCheck, shall we add a new metric for unhealthy node. WDYT? @jerqi

[2022-08-09 02:10] jerqi commented on #146
Make sense. Do you want to raise a pr?

[2022-08-09 02:14] zuston commented on #142
Could you help check this feature? @jerqi

[2022-08-09 02:31] jerqi commented on #142
Spark has exchange reuse. It may be very complex for fine-grained shuffle manager fallback.

[2022-08-09 02:37] zuston commented on #142
Sorry, maybe you misunderstand my thought.
I hope if a spark job needs to do two shuffles, it can use the different shuffle manager.
1. Shuffle-ID-0, use the sortShuffleManager due to the unhealthy server nodes by the access policy
2. Shuffle-ID-1, use the rss due to the enough server nodes.

Does this feature effect the spark exchange reuse?

[2022-08-09 02:47] jerqi commented on #142
When we reuse the Shuffle-ID-1, the rss don't have enough server nodes, what will it happen?

[2022-08-09 03:01] zuston commented on #142
I think it should fail because the shuffle data is in died server nodes.

The exchange reuse you said is to share the written shuffle data for multiple downstream shuffle readers, right?

[2022-08-09 03:23] jerqi commented on #142
Yes, it also influence the dynamic allocation. SortShuffleManager need ESS to support dynamic allocation, but RssShuffleManager can't work with ESS.

[2022-08-09 06:10] zuston commented on #142
I have a question that why it will influence the dynamic allocation? Could u help give more detail?

I think a shuffle dependency will hold a shuffle handle(rss or sort handle) which is decided by the method of registerShuffle. This means that a shuffle only will be managed by one shuffle manager(rss or sort) and served for writer or reader. The co-operation dont exist in sort and rss.

I dont und

[2022-08-09 06:19] jerqi commented on #142
You can see https://github.com/apache/incubator-uniffle/blob/master/spark-patches/spark-2.4.6_dynamic_allocation_support.patch

[2022-08-09 06:37] smallzhongfeng commented on #146
Yes, I'm doing now.

[2022-08-09 09:23] zuston opened #151 "[Improvement] Avoid unnecessary retry in some access checker when using DelegationShuffleManager"
The retry mechanism is introduced by #127. But in some access checker, there's no need to retry, like candidates checker. But the health checker maybe need.

So I think we need introduce the `NON_TRANSIENT_ACCESS_DENIED` to avoid retry in some checker to reduce time.

[2022-08-09 09:23] zuston commented on #151
cc @jerqi

[2022-08-09 12:09] jerqi commented on #151
@smallzhongfeng What do you think?

[2022-08-09 12:28] smallzhongfeng commented on #151
I think this is a parameter setting. If the `retry interval` * `retry times` is greater than the `heartbeat` time passed by the server to the coordinator, the check of `AccessCandidatesChecker` is meaningful. If the`retry interval` * `retry times` is less than the `heartbeat` time of the server, the number of retries is set to 0 by default. Can this also be solved? @zuston

[2022-08-09 13:40] zuston commented on #151
Firstly i think your PR is meaningful for cluster load access checker.

But in other access checker, sometimes we needn’t retry. So I will introduce a special acess result of `NON_TRANSIENT_ACCESS_DENIED` to avoid retry in some checkers.

### For example
If we enable two checkers
1. when cluster-loader check deny but candidates checker pass, so we need to retry
2. when cluster-loader check pass bu

[2022-08-09 15:23] jerqi commented on #146
solved by #147

[2022-08-09 15:23] #146 closed

[2022-08-10 06:17] smallzhongfeng commented on #151
I got your point, If you raise a pr, I'm glad to review.@zuston WDYT? @jerqi

[2022-08-10 07:11] jerqi commented on #151
A little complex, are there similar mechanisms in the other systems?  In my opinion, we shouldn't retry when we use candidate checker. when we only use health checker, we can retry, we can scale out our RSS at the same time. I doubt whether we need this mechanism?

[2022-08-10 07:17] zuston commented on #151
If not having this mechanism, how to handle the multiple checkers retry?

In our internal env, we will use the multiple checkers, including health checker(need to retry) and customize checker(no need to retry).

[2022-08-10 07:18] jerqi commented on #151
You can choose not to retry.

[2022-08-10 07:23] zuston commented on #151
No retry is OK. But this will not solve the problem described in the issue #127

[2022-08-10 08:48] smallzhongfeng commented on #151
Maybe you could choose not to retry when you use multiple checker, because in your description, the scenario of multiple checkers seems to be more dependent on the results of the candidates checker, in this way, it is not enough meaningful to retry, but the default checker is only `AccessClusterloadChecker`, and the issue #127  I proposed is mainly adapted to this checker, when you use this checke

[2022-08-10 10:28] zuston commented on #151
But when having multiple checkers, and the apps are in candidates list, for these apps, it need retry.

[2022-08-11 03:52] rhh777 opened #154 "[Improvement] Support Empty assignment to Shuffle Server"
When I tested hudi, I got an error.
this is spark driver log, ERROR: Empty assignment to Shuffle Server
[code]

this is coordinator log , request partitionNum is 0
[code]

[code]

Environment:
[code]

[2022-08-11 03:58] jerqi commented on #154
When a shuffle have 0 reduce partition, is it a meaningful shuffle?

[2022-08-11 04:00] rhh777 commented on #154
When I look at the RSS Client code, I see that no matter how many partitionNum are requested, an exception is thrown whenever the coordinator returns empty.
https://github.com/apache/incubator-uniffle/blob/master/internal-client/src/main/java/org/apache/uniffle/client/impl/grpc/CoordinatorGrpcClient.java
[code]
Is it possible to verify the partitionNum of the request and the partitionNum of the re

[2022-08-11 04:07] rhh777 commented on #154
emmm, Now I don't know what HUDi does, this is my HUDI test code and UI .
The error occurred during the INSERT phase

[code]
<img width="2549" alt="image" src="https://user-images.githubusercontent.com/41908930/184063126-5e029d62-7230-4d2c-82de-2a9c194b010c.png">

[2022-08-11 04:11] jerqi commented on #154
Could you click your `job 4` and give me your details of `job 4`?

[2022-08-11 04:17] rhh777 commented on #154
<img width="2558" alt="image" src="https://user-images.githubusercontent.com/41908930/184063837-4db437ea-978a-4821-9fa8-4b1cab6e1f92.png">

[2022-08-11 06:13] colinmjj commented on #154
@rhh777 from the log `Error happened when getShuffleAssignments with appId[spark-8304854d3e234816bba3c3a1e8bd0ade1660188566844], shuffleId[6], numMaps[0], partitionNumPerRange[1] to coordinator`, it's strange that numMaps = 0.
And unexpected zero is come from `dependency.partitioner().numPartitions()`, is it possible to check why zero is returned?

[2022-08-11 06:28] jerqi commented on #154
Is you config option `spark.default.parallelism` zero?

[2022-08-11 06:48] rhh777 commented on #154
There is no set

[2022-08-11 06:49] rhh777 commented on #154
ok, I'll try to debug it

[2022-08-12 07:41] rhh777 commented on #154
In the seemingly and SparkHoodieBloomIndexHelper findMatchingFilesForRecordKeys method, I continue to debug

<img width="2160" alt="image" src="https://user-images.githubusercontent.com/41908930/184307014-7dc16728-f999-426e-89c9-47ae2ff623dc.png">

<img width="1649" alt="image" src="https://user-images.githubusercontent.com/41908930/184307446-da6e53ac-2345-417d-af27-0b3f9348363a.png">

[2022-08-12 07:46] rhh777 commented on #154
The previous HUDI version was incorrectly described, it should be 0.10.0

[2022-08-12 08:00] jerqi commented on #154
Could we ask why this partitioner has no partition in Hudi community? It's tricky that partition has no partition?

[2022-08-12 08:05] frankliee commented on #144
Do you install Rosetta2 ?

I have run this test with Zulu JDK successfully.

[2022-08-12 11:27] frankliee commented on #143
I could pass all test with Zulu JDK.
Do you install Rosetta2 ? (some jars may invoke x86 shared libs)

[2022-08-13 06:19] LuciferYang commented on #143
Rosetta2 is not installed and this is a flaky test

[2022-08-13 06:19] LuciferYang commented on #144
Rosetta2 is not installed and this is a flaky test too

[2022-08-13 06:58] frankliee commented on #143
Could you reproduce this case or provide more detailed information?

I try this test for many times on M1 with Zulu JDK, but all pass...

We have fixed  this flaky test in the old version by increasing the sleep time (3 -> 5).
You could try to increase the value. This flaky test could happen when the machine load is too high.

[2022-08-15 12:30] zuston commented on #151
So do we need this feature ? cc @jerqi

[2022-08-15 12:46] jerqi commented on #151
I  don't think we need so complex retry mechanism ...

[2022-08-17 11:32] zuston commented on #151
OK. Close it.

[2022-08-17 11:32] #151 closed

[2022-08-18 05:24] zuston opened #160 "Support lower Hadoop versions in client-mr"
Currently, uniffle use the default Hadoop version of 2.8.5.

When using the `./build_distribution.sh --spark2-profile 'spark2' --spark3-mvn '-Dspark.version=2.4.3' --spark3-profile 'spark3' --spark3-mvn '-Dspark.version=3.1.1' -Dhadoop.version=2.6.0`, it will throw exceptions due to some methods and vars not supported in Hadoop 2.6.0.

Some non-compatible params and methods as follows
1. `CallCont

[2022-08-18 05:24] zuston commented on #160
cc @jerqi @frankliee

[2022-08-18 05:58] zuston commented on #160
And I also found the client-mr is not compatible with Hadoop 3.2.2

[2022-08-18 07:05] jerqi commented on #160
What's your company's hadoop version?

[2022-08-18 07:10] zuston commented on #160
1. 2.6.0-cdh5.11.0
2. Hadoop-3.2.2 packaged by bigtop

[2022-08-18 07:37] jerqi commented on #160
I think it's ok for me if we need it in our production environment.

[2022-08-18 08:03] xianjingfeng opened #164 "[Improvement] Limit the speed of memory release when drop pending events"
In `org.apache.uniffle.server.ShuffleFlushManager#processPendingEvents`,OOM will happen if a large number of events need to be dropped, because `usedMemory` release immediately, but the speed of GC is not fast enough.

[2022-08-18 10:30] zuston commented on #160
OK. I will go ahead.

[2022-08-19 09:03] zuston commented on #164
I'm curious about how to find OOM is caused by dropped events.

[2022-08-19 09:32] xianjingfeng commented on #164
![screenshot](https://user-images.githubusercontent.com/11752250/185589881-63e2db63-c539-4473-a522-7eb0b0900e86.png)

[2022-08-19 09:54] xianjingfeng commented on #164
![screenshot2](https://user-images.githubusercontent.com/11752250/185593881-240cb918-d2de-47fd-845a-387866998323.png)

[2022-08-19 09:56] jerqi commented on #164
https://stackoverflow.com/questions/8719071/is-it-possible-to-get-outofmemoryerror-because-garbage-collection-too-slow I'm not sure the effect of pr.

[2022-08-19 10:00] xianjingfeng commented on #164
The purpose of this PR is to reserve more time for GC and reduce the speed of receiving data. Maybe this is not a good way, but I feel it is effective.

[2022-08-19 11:51] smallzhongfeng commented on #98
![image](https://github.com/smallzhongfeng/incubator-uniffle/blob/take-photo/photo/createlog.png)

[2022-08-19 13:14] zuston commented on #164
From my understanding, if memory is not enough, it will firstly trigger GC to remove unused objects. This will stop the world.

After that, when memory is still not enough, it will OOM.

What do u think so?

[2022-08-19 13:34] xianjingfeng commented on #164
When to trigger GC? The direct reason for GC is that it is written too fast. Maybe it will be solved after replace grpc with netty in the future.

[2022-08-19 13:51] xianjingfeng commented on #164
@zuston I misunderstood what you said just now. You are right, but GC will not delete all unused objects at once.

[2022-08-19 14:30] xianjingfeng opened #169 "[Feature Request] Support push metrics to Prometheus Pushgateway"
The push mode will be more convenient and more real-time. We have implemented it. If necessary, I will create a PR

[2022-08-21 14:57] zuston opened #172 "[Feature] Support short-circuit read in local-file"
### Motivation
When uniffle shuffle servers are co-located with Yarn nodemanagers, we could use the short-circuit read to improve performance and reduce the overhead.

### How to do
There are two options to solve this
1. Directly read shuffle-data files by client side.
2. Use the domain socket.

#### Option 1 - Directly read
This is the fastest way, but the local-files' read permission should be o

[2022-08-21 15:00] zuston commented on #172
I think it's necessary feature, what do u think? @jerqi

Besides, I have implement one policy of `read directly` and want to contribute.

[2022-08-22 02:48] jerqi commented on #172
I think it's the most important thing that we don't official deployment plan now.

[2022-08-22 02:54] jerqi commented on #169
Why will the push mode be more convenient and more real-time? Could you give some examples?

[2022-08-22 02:54] zuston commented on #172
Yes. we need a detailed deployment instruction for users in doc. But I dont think this feature depends on the former.

[2022-08-22 02:56] jerqi commented on #172
Sorry, i means that we don't official  yarn deployment plan now. I think this feature depends yarn.

[2022-08-22 03:05] zuston commented on #172
Oh, this feature is not bound to Yarn.
We will deploy shuffle-servers on Yarn nodemanager machine using ansible, instead of using YARN Applications to deploy.

[2022-08-22 03:08] jerqi commented on #172
Which option do you prefer?

[2022-08-22 03:20] zuston commented on #172
I prefer `directly read` in the initial version.

[2022-08-22 03:20] jerqi commented on #164
Could you explain the two diagrams? I can't get your point.

[2022-08-22 03:21] jerqi commented on #172
How to know the local directory for Spark client?

[2022-08-22 03:22] zuston commented on #172
The stored local path should be retrieved from shuffle server by client side. So we need to add a new grpc api.

[2022-08-22 03:28] jerqi commented on #172
When the taskScheduler allocate task, we don't consider reduce partition distribution,  fewer task can use the feature.

[2022-08-22 03:34] zuston commented on #172
If having this feature, maybe we could update the Spark data-locality policy of `preferLocation` for uniffle. Do u think so?

[2022-08-22 03:38] jerqi commented on #172
Although it's an improvement, if it may bring more complexity and less effectiveness, I prefer not merging it.

[2022-08-22 03:51] leixm opened #173 "[Improvement] ShuffleBufferManager supports triggering flush according to the size of single ShuffleBuffer"
Should shuffleBufferManager supports triggering flush according to the size of single ShuffleBuffer? so that we can make more full use of disk io without waiting for the buffer to reach _`rss.server.buffer.capacity * rss.server.memory.shuffle.highWaterMark.percentage`_

[2022-08-22 03:52] leixm commented on #173
I think it's necessary feature, what do u think? @jerqi

[2022-08-22 03:54] jerqi commented on #173
Agree, Do you want to raise a pr?

[2022-08-22 03:54] zuston commented on #172
Got your thought.

### complexity
This feature only introduces the short-circuit read handler. In my POC, it wont break down the current implementation. Besides, we could introduce the config to control whether to enable this.

### effectiveness
The effectiveness depends on the Spark knowledge about the shuffle-data-locality. I think this can be improved by the later patches for Spark, like Alluxi

[2022-08-22 03:56] leixm commented on #173
yes, I will create a PR

[2022-08-22 06:45] xianjingfeng commented on #164
When `total_dropped_event_num` rises rapidly,  `jvm_memory_bytes_used`  rises rapidly together at the same time. Does it means that it is triggered by processing pending events?

[2022-08-22 07:05] xianjingfeng commented on #169
1.We need install node exporter in every host, and if not, real-time performance cannot be ensured.
2.We need change the configration of node exporter after we add an instance.

[2022-08-22 07:05] xianjingfeng commented on #169
1.We need install node exporter in every host, and if not, real-time performance cannot be ensured.
2.We need change the configration of node exporter after we add an instance.

[2022-08-22 07:20] jerqi commented on #169
In our production environment, we use `crontab` to fetch the servers' metrics every minute and push the metrics to our prometheus server. I don't get the difference if we use exporter.

[2022-08-22 07:35] xianjingfeng commented on #169
This depends on operation and maintenance. If automation tools is well, it may not be inconvenient.

[2022-08-22 11:54] #173 closed

[2022-08-22 12:37] jerqi commented on #76
closed by #157

[2022-08-22 14:31] jerqi commented on #164
Em......If we can't write data to storage, we will occupy the more memory. It's normal. But the two diagrams can't persuade me that the gc speed lead to OOM.

[2022-08-23 11:16] zuston commented on #172
Do u have some ideas? @jerqi

[2022-08-23 11:24] jerqi commented on #172
This feature need to increase a new rpc interface. The interfaces are very important. I need to guarantee the compatibility of interfaces. I think this is the biggest complexity which this feature brings. For effectiveness, we don't have data locality, we can't get too much performance improvement. And we have no plans about data locality, if we want to have this feature, we should achieve the fea

[2022-08-24 02:46] #123 closed

[2022-08-24 04:21] smallzhongfeng opened #186 "[Feature] A better strategy to select remoteStoragePath"
At present, if we configure multiple HDFS paths, the selected strategy is based on the number of apps, which is relatively simple. My idea is to compare the results based on the ratio of all file sizes under the `remoteStoragePath` and the remaining space under the namespace corresponding to the `remoteStoragePath`.

[2022-08-24 04:21] smallzhongfeng commented on #186
WDYT? @jerqi

[2022-08-24 06:32] jerqi commented on #186
There are many things to consider about HDFS allocation.
First, the scale of HDFS cluster. There are more DataNodes, the cluster can provide more IO capability.
Second, the remaining space of HDFS cluster. If a shuffle will use too much space, we should give it a enough HDFS cluster, but we should notice that shuffle is a temporary data, we will delete them after we use them. Shuffle data usually

[2022-08-24 07:09] smallzhongfeng commented on #186
Thank you for your detailed explanation. I have no doubt about the first two points, but the third point is that I want to know what you mean by the retry of HDFS cluster. And the fourth point is that we really have no way to know the amount of shuffle data, so the current idea is that if there are no files at the beginning, we can only compare the remaining capacity of the namespace. If there are

[2022-08-24 07:26] jerqi commented on #186
Third point, sorry... I should give more explanation. If shuffle server fail to  write data to HDFS because HDFS high load, shuffle will retry. If there are many retries about HDFS, it means that HDFS have bad status, we should avoid using it.
Fourth, your solution is  not a perfect solution, it must depend data in the production environment  to prove the  effectiveness.

[2022-08-24 07:45] smallzhongfeng commented on #186
Yes, we will verify it in the production environment. And thank you again for your advice.

[2022-08-25 12:12] rhh777 commented on #154
Sorry for my busy work now, I will further study HUDI when I am free

[2022-08-25 16:02] leixm commented on #134
Currently we can support 2^20 tasks, which is not a small number. If spark.rss.writer.buffer.size is set to the default value of 3m, then the data written by a taskAttempt does not exceed 3m*2^19=1536G It can be guaranteed, how to measure whether AtomicInteger can be reduced? How much can be reduced?

[2022-08-26 02:56] leixm commented on #134
It looks like taskAttemptId has been modified from 2^20 to 2^21, but the comment for org.apache.uniffle.client.util.ClientUtils has not been modified.
org.apache.uniffle.common.util.Constants
`public static final int TASK_ATTEMPT_ID_MAX_LENGTH = 21;`
`public static final int ATOMIC_INT_MAX_LENGTH = 18;`
org.apache.uniffle.client.util.ClientUtils
`// AtomicInteger is first 19 bit, max value is 2^19

[2022-08-26 03:01] leixm commented on #136
Maybe I can take this ticket, could you assign this to me? @jerqi

[2022-08-26 03:24] jerqi commented on #136
Thanks, you're welcome.

[2022-08-26 03:25] jerqi commented on #134
You're right.

[2022-08-26 03:26] jerqi commented on #134
It depends on the production environment application.

[2022-08-26 10:32] zuston opened #189 "[Feature] Support zstd compression"
### Motivation
ZSTD has a good tradeoff between compression ratio and de/compress speed. For reducing the shuffle-data stored size, it's necessary to support this compression algorithm.

### How to do
1. Introduce the abstract interface of de/compress method
2. Support zstd

[2022-08-26 11:04] jerqi commented on #189
Good idea.

[2022-08-28 11:59] zuston commented on #172
For your thought, do I need to submit a data locality shuffle patch about Spark firstly? As I know, we need to change the Spark codebase about `MapOutputTracker.getPreferredLocationsForShuffle` and `ShuffleRowRDD.getPreferredLocations` . When enable RSS, the perferred locations could be gotten from the dep.shuffleHandle(RssShuffleHandle of Uniffle partitionToServers vars). If I'm wrong, plz point

[2022-08-28 12:15] zuston commented on #137
Do we need to sort data by MapID of one partition before flushing data for all jobs? I think no. This will bring unused cost for those non-AQE optimized stages. Maybe we could sort the partition data by MapId when AQE's specified `ShufflePartitionSpec` is applied in first time.

[2022-08-28 14:06] jerqi commented on #172
Not only the spark patch, but also we need to modify the strategy of coordinator. I know the Bytedance RSS implement this feature, if the cluster is big enough, the feature will be useless.

[2022-08-28 14:07] jerqi commented on #137
You are right.

[2022-08-28 14:15] zuston commented on #172
Yes, we’d better to assign shuffle servers with data locality. This is a long way to get the best optimization.

[2022-08-30 03:30] jerqi commented on #31
We have built the website now. You can click the link again and see it. I will close the issue.

[2022-08-30 03:30] #31 closed

[2022-08-31 08:29] leixm opened #194 "[Feature] Support spark 3.2.0"
After SPARK-36892, MapOutputTrackerWorker#getMapSizesByExecutorId has been modified to include method names and return parameter types, Java.lang.NoSuchMethodException will be thrown when the RssShuffleManager#getExpectedTasksByExecutorId method is called, The version of our production environment is 3.2.0.

[2022-08-31 08:29] leixm commented on #194
@jerqi  What do you think?

[2022-08-31 08:34] leixm commented on #194
Maybe we can support spark 3.2.

[2022-08-31 13:57] smallzhongfeng commented on #194
I think it may not be standard to build code by reflection. It may be more appropriate to create different modules and match different versions.

[2022-09-01 01:40] jerqi commented on #194
We already supported Spark 3.2.1. You can see the Spark 3.2 profile.

[2022-09-01 01:46] jerqi commented on #194
Just avoid too repeated code.

[2022-09-01 03:43] leixm commented on #194
Spark 3.2.1 version re-added the getMapSizesByExecutorId method, but currently uniffle does not support spark 3.2.0, there is a simple way to verify, change the spark.version of the spark 3.2 profile from 3.2.1 to 3.2.0, and then run spark3 integration test can be reproduced

[2022-09-01 03:46] jerqi commented on #194
Why not upgrade your spark client version? It's easy to upgrade.

[2022-09-01 05:04] leixm commented on #194
This is not a problem with the spark client. The exception will be thrown in the Driver process. If we use the current uniffle version, we need to upgrade the spark version of the production environment to 3.2.1.

[2022-09-01 05:04] leixm commented on #194
We prefer to support spark3.2.0 in the uniffle client, so the cost will be lower.

[2022-09-01 05:17] leixm commented on #194
The main purpose of this issue is to confirm the following two points
1. Uniffle does not support spark3.2.0
2. Should we support spark3.2.0?
Point 1 has been confirmed, I believe that supporting spark 3.2.0 is beneficial to the uniffle community. Some users' production environment is version 3.2.0, but they want to use uniffle to serve their production environment.  We can also give these users a

[2022-09-01 06:32] jerqi commented on #194
If we want to support Spark 3.2.0, should we add a spark3.2.0 profile? The interface is only removed in the Spark 3.2.0 temporarily wrongly. Is it worth to support Spark 3.2.0?

[2022-09-01 06:54] leixm commented on #194
What you said is correct, maybe we can provide a patch file for users who need to support spark3.2.0 to apply it themselves, which will neither cause code redundancy nor confuse users. Taking a step back, if we don't support it, we can explain in the documentation that spark3.2.0 is not supported to avoid confusion for users.

[2022-09-01 07:21] jerqi commented on #194
It seems not friendly for us to use extra patch. I think we can use reflection in our code to support 3.2.0 and add a profile.Spark 3.2.0 may be a special case, it shouldn't bring too much burden. If we need to maintain every minor version, it really bring too much burden.

[2022-09-01 08:29] kaijchen opened #196 "Flaky test ShuffleFlushManagerOnKerberizedHdfsTest"
Example of CI failures (both on -Pspark2.3):
https://github.com/apache/incubator-uniffle/runs/8129274621?check_suite_focus=true#step:4:1722
https://github.com/apache/incubator-uniffle/runs/8129689956?check_suite_focus=true#step:4:1722

[code]

[2022-09-01 08:32] zuston commented on #196
Let me take a look. Oh, this test case is introduced by me, and looks the some test cases are not stable.

[2022-09-01 09:15] zuston commented on #196
The stacktrace is as follow

[code]

[2022-09-05 07:03] zuston opened #198 "[Problem] Inconsistent blocks when reading shuffle data"
I found some tasks of spark jobs will throw the exceptions that the inconsistent blocks number. The stacktrace is as follows

[code]

I didn't find any error/warn log in shuffle server which stored the corresponding partition data.

We dont set any replica config and directly use the MEMORY_LOCALFILE storageType. Does this exception caused by the disk error?

[2022-09-05 07:35] leixm commented on #194
We can support spark3.2.0 through reflection, but I don't quite understand why profile is needed. Profile cannot control the code logic, it can only be used to control the version of dependencies.

[2022-09-05 07:49] jerqi commented on #194
We need run the test pipeline with the profile to verify that the Spark version is ok and guarantee the new changes won't break the behavior of the version.

[2022-09-05 07:58] leixm commented on #194
Maybe I can raise a new pr to add reflection code?

[2022-09-05 08:01] jerqi commented on #198
It may be a bug of our rss. I ever try to fix the similar problems by https://github.com/apache/incubator-uniffle/pull/40 and https://github.com/Tencent/Firestorm/pull/92. Could you reproduce this problem? Are the missing blocks  disk storage or memory storage?

[2022-09-05 08:02] jerqi commented on #194
OK.

[2022-09-05 08:09] zuston commented on #198
It occurs in our users' jobs and maybe I have to write test spark code to reproduce

I dont know which storage's block missing. But I check the request number in shuffle server and the request log entry number in tasks, they are equal.

[2022-09-05 08:31] zuston commented on #198
It looks this problem is not the same as the problem you said. This problem is caused by lacking partial blocks.

[2022-09-06 07:47] smallzhongfeng commented on #198
[code]
We seem to have the same problem, but the reason for the inconsistent blocks number is that an exception occurred when the index file was read.

[2022-09-06 07:58] jerqi commented on #198
It seems that we read incomplete index file.

[2022-09-06 08:02] zuston commented on #198
We should fail fast when encountering BufferUnderflowException instead of catching it. https://github.com/apache/incubator-uniffle/blob/07f70ed872b87107fc7028577bd9e66d8349fd6c/common/src/main/java/org/apache/uniffle/common/util/RssUtils.java#L224

[2022-09-06 08:06] jerqi commented on #198
For MEMORY_HDFS or MEMORY_LOCALFILE, it's normal to read incomplete index data, so we choose to ignore instead of failing fast.

[2022-09-06 08:07] smallzhongfeng commented on #198
What I am curious about is whether this is caused by the fact that the data of the stream is not flushed normally or the stream is closed abnormally.

[2022-09-06 08:09] jerqi commented on #198
Maybe shuffle index is writing..

[2022-09-06 08:14] zuston commented on #198
Oh, make sense.

Firstly, maybe we should reproduce this exception that make reader/writer operate this file at the same time.

[2022-09-06 11:57] zuston commented on #198
As I know, the exception of BufferUnderflowException is caused by the incomplete `FileBasedShuffleSegment`. In localfile reader, it will always get the n pieces of  `FileBasedShuffleSegment` and then wont throw the exception. However in HDFS index read, it may return the incomplete data ((this problem will happen when spill data from memory to HDFS, so we also should do similar operation like loca

[2022-09-06 14:38] LuciferYang commented on #144
resolved by #203

[2022-09-06 14:38] #144 closed

[2022-09-07 06:01] #194 closed

[2022-09-07 13:53] leixm commented on #198
Our production environment also had such an exception once, but so far it has not been able to reproduce.

[2022-09-07 13:55] leixm commented on #198
I think maybe the shuffle server is writing this file and the output stream has not been closed.

[2022-09-07 14:20] jerqi commented on #186
resolved by #192

[2022-09-07 14:20] #186 closed

[2022-09-08 12:05] jerryshao opened #207 "Adding Notice file"
Notice file is missing in the repo, this should be added like other asf project.

[2022-09-09 02:21] jerqi commented on #136
resolved by #190

[2022-09-09 02:21] #136 closed

[2022-09-09 09:45] zuston opened #209 "[Feature] Introduce the taskId in the spark client side log"
### Motivation
When multiple tasks are running in the same executor at the same time, it will be hard to analysis the rss log belonging to the specified task. To solve this, it's better to make log show task id in the rss client codebase.

### How to do
I think we should directly use the [MDC](https://www.baeldung.com/mdc-in-log4j-2-logback) to put the context info.

[2022-09-09 09:47] zuston commented on #209
What do u think? @jerqi

[2022-09-11 08:42] leixm commented on #198
Can you help me understand #issue_63? @jerqi
`When we use the storageType MEMORY_HDFS, MEMORY_LOCALFILE_HDFS, after we read data from memory, the data may be flushed to HDFS. So we could read incomplete index data. `
`org.apache.uniffle.storage.handler.impl.HdfsFileWriter#writeIndex` is a complete operation, it looks like it shouldn't write an incomplete index file.

[2022-09-11 08:43] leixm commented on #198
In our production environment, certain tasks will have this problem for a certain period of time. I am trying to reproduce this situation and keep the index file and data file.

[2022-09-13 02:08] jerqi commented on #198
If you use MEMORY_HDFS or MEMORY_LOCALFILE_HDFS, you can read data from memory and then you will read data from HDFS, but the data of memory may be flushed, so you can read the incomplete data of memory flushed to HDFS.

[2022-09-13 03:13] zuston commented on #198
After collecting all the failed tasks whose exception is related to `org.apache.uniffle.common.exception.RssException: Blocks read inconsistent`, I found these exception is caused by the `DEADLINE_EXCEEDED` of GRPC remote call, which is caught by the Uniffle and dont throw it. This made us confused and thought it was a w/r bug.

I think I will raise a PR to fix it.

[2022-09-13 03:21] smallzhongfeng opened #211 "[Feature] User's resources quota"
At present, we can not limit the user's resources. Maybe we can manually update the number of tasks submitted by the user through a configuration file. When the quota is exceeded, the app will be rejected, and the number of apps of different users can be used to represent resource quotas. What do u think? @jerqi

[2022-09-13 03:28] zuston commented on #211
Maybe this could be solved by implementing a custom AccessChecker to limit the users quota, I have done this.

[2022-09-13 03:34] smallzhongfeng commented on #211
At present, the app level is also limited, right?

[2022-09-13 03:36] smallzhongfeng commented on #211
Because I haven't seen similar PR for the time being, so I create this issue.

[2022-09-13 03:38] zuston commented on #211
Yes, I introduce a custom access checker to do following operation
1. Do grey-scale.
2. Add the blacklist for some jobs to fallback ESS.
3. ...

And so I think the resource quotas limitation could be implemented in custom access checker.

Please let me know If I misunderstand u.

[2022-09-13 03:45] smallzhongfeng commented on #211
Very coincidentally, our ideas are similar :) .

[2022-09-13 04:03] zuston commented on #211
Maybe this is the best practice

[2022-09-14 05:23] zuston commented on #198
Follow up this problem.

I found the Grpc client sometimes will throw DEADLINE exception like as follows
[code]

But I found this response has been sent by shuffle server, but the client side still throw exception. What will cause this? Network? GC?

Did you meet similar problems?  @jerqi

[2022-09-14 06:10] jerqi commented on #198
Response may not be sent by shuffle server timely.

[2022-09-14 07:05] zuston commented on #198
Do we have some ways to avoid this problem?

[2022-09-14 07:25] #207 closed

[2022-09-14 07:27] leixm commented on #198
This is the response timeout, which should be caused by the high load of ShuffleServer and slow response.

[2022-09-14 07:31] leixm commented on #198
We can increase the rpc timeout, and find the reason for the slow response of the shuffle server.

[2022-09-14 07:36] zuston commented on #198
It's not a fundamental way to increase the rpc timeout. And I found the rpc has been accepted by shuffle server(handled log has been shown), maybe it's stucked on sending.

[2022-09-14 07:48] leixm commented on #198
We had a similar rpc timeout exception before, and the task of running 10T data will appear. The investigation found that it was because the inflush_memory and used_memory were too high, which caused the client to frequently retry to send data and apply for buffer.

[2022-09-14 07:48] leixm commented on #198
We had a similar rpc timeout exception before, and the task of running 10T data will appear. The investigation found that it was because the inflush_memory and used_memory were too high, which caused the client to frequently retry to send data and apply for buffer.

[2022-09-14 07:50] leixm commented on #198
You're right, not only the service response, but also the network io, etc.

[2022-09-14 08:04] zuston commented on #198
Yes, the failure of requiring memory will also cause this exception, but I didn't found any exception of server about require-memory failed.

Besides, the problem you mentioned I have submit a new PR to fix #218

[2022-09-14 08:37] jerqi commented on #209
MDC seems heavy for us.

[2022-09-14 08:47] zuston commented on #209
Could you share me that what are you concerned about most? The cost of refactor or performance?

[2022-09-14 10:37] jerqi commented on #209
Could we adjust the log4j to print thread ID?

[2022-09-14 10:40] zuston commented on #209
This way looks a little bit ugly on propagating thread id/ task id in multiple threads when using thread pool.

[2022-09-15 08:04] smallzhongfeng commented on #211
When will this feature be available? @zuston

[2022-09-15 08:11] zuston commented on #211
I think you misunderstand my thought. I implement the custom access checker to solve the problem you mentioned. You can do similar operations like me. And I think I wont submit this access checker to the uniffle codebase, because maybe it's not  general.

[2022-09-15 08:19] smallzhongfeng commented on #211
Well, although I think this may actually have some effect on user isolation, we can try to let users with high priority use more resources. I can understand what you mean.

[2022-09-15 08:29] smallzhongfeng commented on #211
In fact, we have also achieved it, and completed the launch, the effect is still obvious, the user's resources are effectively managed, and it is easier to calculate the cost of the user's use for billing, so this issue is mentioned.

[2022-09-16 06:02] wfxxh opened #224 "[Problem] Fail to init ClientConfManager,dynamic_client.conf is not a file"
I edit the config file as README.

![image](https://user-images.githubusercontent.com/22764286/190567356-e32505c0-e126-4c46-a6cc-1a74f5c15fb4.png)

![image](https://user-images.githubusercontent.com/22764286/190567406-eedc2f0e-6563-4f51-bc0b-9765d368732c.png)

When I start the start Coordinator I get the error
![image](https://user-images.githubusercontent.com/22764286/190567578-35476e61-ee0a-4723

[2022-09-16 06:16] wfxxh commented on #224
![image](https://user-images.githubusercontent.com/22764286/190569537-c6b14032-dfe8-4b8a-a292-4a228c37a6dc.png)

It shoud be a hdfs path not a local path

[2022-09-16 06:16] #224 closed

[2022-09-19 01:23] wfxxh opened #228 "[Problem] Build against Spark 3.2.x,but when I request the Uniffle it does not work,error is "org.apache.uniffle.com.google.protobuf.GeneratedMessageV3.isStringEmpty(Ljava/lang/Object;)Z""
I build the Uniffle after read the README, and start the coordnator and shuffle-server success,but when i requset the Uniffle use spark3.2.1, it dose not work ,the error is : org.apache.uniffle.com.google.protobuf.GeneratedMessageV3.isStringEmpty(Ljava/lang/Object;)Z.

when i use the "rss-client-spark2-0.6.0-snapshot-shaded.jar" and set spark version to 2.x，it worked.

[2022-09-19 09:26] kaijchen commented on #228
What's the build command you used for building Uniffle against spark 3.2.1?

[2022-09-19 09:45] zuston opened #229 "Negative value of preAllocatedSize"
I found sometimes the value of  `preAllocatedSize` is negative in the shuffle server log, which makes me confused. Maybe this problem is caused by race condition.

[2022-09-20 00:01] wfxxh commented on #228
![image](https://user-images.githubusercontent.com/22764286/191139485-e8e4f892-caee-4890-b1d2-4bd55f05685b.png)

[2022-09-20 02:08] zuston commented on #209
What do u think? @jerqi

[2022-09-20 03:25] zuston opened #230 "Possible memory leak in shuffle-server"
### Background

I found the metric size of `res`  is too large when using the command of `top` to inspect the shuffle-server process, which has been excluded in the cluster and no app runs on it.

When I dump the jvm heap, I found the heap size is normal. But it has too many netty `PooledUnsafeDirectByteBuf` objects, it this normal?

![image](https://user-images.githubusercontent.com/8609142/19116

[2022-09-20 03:26] zuston commented on #230
Could u help check whether this is a problem? Or give me some ideas? @jerqi Thanks.

[2022-09-20 06:02] jerqi commented on #229
It's abnormal. It should be caused by some bugs.

[2022-09-20 06:33] #48 closed

[2022-09-20 06:56] kaijchen opened #232 "Minimize required configs to work out of the box"
Provide optimized default values when a field in config file is missing,
so it's easier for inexperienced users to try and experiment with this project.

For example:
If the `rss.storage.type` field is missing , it may defaults to `MEMORY_LOCALFILE_HDFS`.
Currently, it throws `NullPointerException: Name is null`.

In summary, let's try make the default settings work out of the box.
Please refer to

[2022-09-20 09:05] wfxxh opened #233 "[Problem] The shuffle server memory not release"
uniffle version: 0.6.0, I deploy on k8s,but the shuffle server  memory not release ,even my spark application is stop it does not release too
my server config is below:

rss.jetty.http.port 19998
rss.rpc.executor.size 2000
rss.storage.type MEMORY_LOCALFILE_HDFS
rss.coordinator.quorum 10.100.41.162:19999
rss.server.disk.capacity 50g
rss.storage.basePath /home/data
rss.server.flush.thread.alive 1
rs

[2022-09-21 02:17] jerqi commented on #233
JVM can occupy the memory although they don't process any data.

[2022-09-21 02:18] jerqi commented on #232
Ok, we can give more configurations a default value.

[2022-09-21 02:20] jerqi commented on #230
Maybe we could remove grpc.

[2022-09-21 02:21] wfxxh commented on #233
But when the memory is full, the shuffle server pod restart,this case my spark application faild

[2022-09-21 02:26] jerqi commented on #233
Why do the shuffle server restart? There should be some information in the logs or stdout.

[2022-09-21 02:38] wfxxh commented on #233
It is restart by k8s, reason is memory is too high.I think if memory release ,it will not be appear

[2022-09-21 03:59] jerqi commented on #233
Maybe we should give more memory to the pod.

[2022-09-21 05:53] wfxxh commented on #233
It is 32G now,I can not give more

[2022-09-21 05:54] wfxxh commented on #233
It is 32G now,I can not give more

[2022-09-21 06:04] jerqi commented on #233
You can adjust the parameter of memory in the `bin/rss-env.sh` and conf/server.conf.

[2022-09-21 06:17] wfxxh commented on #233
XMX_SIZE ? it is 30G now.

[2022-09-21 07:23] jerqi commented on #233
Could you reduce the value?

[2022-09-21 07:31] wfxxh commented on #233
I have reduced it to 8G，but the pod restart too

[2022-09-21 09:32] xianjingfeng commented on #229
We have found this problem before, and it has not occurred since #159

[2022-09-21 09:48] jerqi commented on #233
Does the server restart because of the same reason? You give the pod 32G memory, XMX_SIZE is 8G, don't it?

[2022-09-21 09:48] zuston commented on #229
#159 has been applied in our internal uniffle cluster, but it still occurred.

[2022-09-21 10:11] zuston opened #234 "Introduce rejection mechanism when coordinator server is starting"
### Background
When changing some coordinator's conf and then restart, coordinator will accept client `getAssignment` request immediately, but it will serve for jobs request based on the partial registered shuffle-servers, which will make some jobs gotten not enough required shuffle-servers and then slow the running speed.

I think we should make coordinator wait for more than one shuffle-server h

[2022-09-21 10:12] zuston commented on #234
PTAL @jerqi

[2022-09-21 10:19] zuston commented on #232
Make sense

[2022-09-21 10:45] xianjingfeng commented on #229
If the `requireBufferId` just expires when writing data, it may occurred. Maybe we need to introduce locks when memory be released.

[2022-09-21 11:40] jerqi commented on #234
How do we judge whether get enough shuffle servers?

[2022-09-21 11:49] jerqi commented on #211
User quota is ok for us. I think it's the part work of multi-tent user support.

[2022-09-21 12:43] zuston commented on #234
Wait until reaching the shuffle server heartbeat interval, default 10s

[2022-09-22 02:23] jerqi commented on #234
Maybe one heartbeat interval is not enough, we can't wait for any servers in special case. How do the yarn resourcemanager to process this problem? I suggest that we should pend the requests instead of rejection when we start the coordinator.

[2022-09-22 02:49] zuston commented on #234
Got your thought.

In HA resourcemanagers, there is no such problems due to failing back to standby active RM by zookeeper. Let's talk about it in single-one resourcemanager or hadoop namenode. As I know, the namenode will enter in the safe mode util enough block reports from datanode have been accepted when starting. Refer to : https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-hdf

[2022-09-22 03:03] smallzhongfeng commented on #211
I can raise a pr if needed.

[2022-09-22 03:37] jerqi commented on #234
It means that we shouldn't restart the two coordinators during the short time. It's a little difficult for K8S controller to select a proper interval to restart them.

[2022-09-22 05:48] zuston commented on #234
Now is the single coordinator process maintained in single POD or shared StatefulSet? If using single POD, it's not a problem. If using the shared statefulset, maybe we should kill single pod which managed by statefuset one by one by operator.

@wangao1236 Could u help give some background knowledge?

[2022-09-22 08:00] jerqi commented on #234
Coordinator use two deployments.

[2022-09-22 08:01] jerqi commented on #234
I think this design is not friendly for automation deployment. It's my doubt.

[2022-09-22 08:13] zuston commented on #234
The coordinator deployment could be controlled to start by operator, this is not the problem. Right?

[2022-09-22 08:17] jerqi commented on #234
It's ok for our k8s operator. But if other users use another automation deployment mechanism, it may cause problems.

[2022-09-22 08:21] zuston commented on #234
Got it. Maybe we could disable this mechanism default and add some docs to describe more

[2022-09-23 02:48] jerqi commented on #228
I never met this problem

[2022-09-23 03:03] leixm opened #239 "[Problem] RssUtils#transIndexDataToSegments should consider the length of the data file"
Recently, we found that the following exception occurred occasionally in the production environment - `Blocks read inconsistent: expectedxxxxxx`. After investigation, we found that there seem to be some problems with the client's read hdfs.
The following is some information about cluster related configuration and troubleshooting:
Environment
1. rss.client.read.buffer.size=14m
2. storageType=MEMORY

[2022-09-23 03:06] leixm commented on #239
Can you take a look at the problem I described. @jerqi @smallzhongfeng  @zuston

[2022-09-23 03:24] zuston commented on #239
Yes, you are right. Please refer to #204 . but this PR wont solve your problems you mentioned, it just make fail fast and log some exception for analysis.

Let revisit this problem, as I know, the reading sequence of client will from memory -> localfile to hdfs, that means the incomplete data reading is not affect the result.

For example, the partial memory shuffle data is being flushed to HDFS o

[2022-09-23 03:48] leixm commented on #239
The key point of the problem is that the data file has only 63101342 bytes, but at this time, it has to read 4743511 bytes from the 58798659 offset, which eventually leads to OEFException,And at this time, **the block from offset 58798659 to offset 63101342 will be discarded**, Eventually lead to block missing.
**Any block after offset 63101342 will not cause block missing, and any block before of

[2022-09-23 03:55] leixm commented on #239
The last read segment contains two parts of blocks, [offset= 58798659, length=4302684] and [offset=63101343, length=440827], because the data in the second part triggers EOFException, causing the data in the first part to be discarded, Eventually lead to block missing.

[2022-09-23 03:57] leixm commented on #239
org.apache.uniffle.storage.handler.impl.HdfsFileReader#read
[code]

[2022-09-23 04:00] jerqi commented on #239
So we should process EOFException in this case.

[2022-09-23 04:03] zuston commented on #239
Got your thought. I think we should throw exception directly after applying #204 . Please let me know if i'm wrong

[2022-09-23 04:10] leixm commented on #239
![image](https://user-images.githubusercontent.com/31424839/191890674-5d409183-f994-405d-9ca6-0a264ea3e9d0.png)

[2022-09-23 04:14] leixm commented on #239
We can get the length of the data file before transIndexDataToSegments and pass it to the transIndexDataToSegments method. When transIndexDataToSegments divides the read segment, the length of the data file cannot exceed the length of the data file, so that no OEFException will be generated.

[2022-09-23 06:56] zuston commented on #239
@leixm Thanks for your explanation, got your thought.

Could we directly got the expected data in `HdfsFileReader.read()` by analyzing the file size and required length from index.file ?

[2022-09-23 07:44] leixm commented on #239
You are right, we need to know how much data can be read before HdfsFileReader#read, and then read the corresponding data through HdfsFileReader#read, but how much data can be read is currently obtained by parsing the index file , I think the actual amount of data that can be read needs to be considered in the process of parsing the index file, so as to avoid EOFException.
Just like the last block

[2022-09-23 07:48] leixm commented on #239
@zuston The HdfsFileReader.read method seems to be used to read the file content of the specified offset and length, which is not considered here Sophisticated read logic could be better

[2022-09-23 07:57] leixm commented on #239
Maybe i can raise a pr to fix it? @zuston

[2022-09-23 08:30] jerqi commented on #239
Maybe local file will occur this similar problems.

[2022-09-23 08:32] jerqi commented on #239
Could we catch the EOFException and return the data directly?

[2022-09-23 08:52] leixm commented on #239
I will try to test whether the read data is placed in buf after fsDataInputStream.readFully throws an EOFException. If there is data in buf at this time, we can return directly.

[2022-09-23 10:48] jerqi opened #240 "Flaky test GetShuffleReportForMultiPartTest"
The test is still flaky
org.apache.uniffle.test.GetShuffleReportForMultiPartTest
https://github.com/apache/incubator-uniffle/actions/runs/3111709653/jobs/5044305025
@leixm Could you take a look at it?
[test-reports-spark3.zip](https://github.com/apache/incubator-uniffle/files/9632979/test-reports-spark3.zip)

[2022-09-23 10:49] jerqi commented on #196
It occurs again
https://github.com/apache/incubator-uniffle/actions/runs/3111709653/jobs/5044304701
This test is still flaky.

[2022-09-23 11:06] leixm commented on #240
I will follow up on this. @jerqi

[2022-09-23 14:19] #240 closed

[2022-09-24 07:23] zuston commented on #133
Could we use grpc zero-copy to solve this problem? Alluxio also use Grpc to transfer data, I think the problem we encountered also exist in Alluxio

[2022-09-26 01:58] zuston commented on #196
OK. I think I will fix it in the next days

[2022-09-26 11:20] jerqi commented on #133
It seems that it use protobuf to serialize the data.

[2022-09-26 11:27] jerqi commented on #209
It's a little abstraction for me, maybe you can raise a draft pr and let me look at it.

[2022-09-27 00:18] zuston commented on #234
Any ideas on this? @jerqi

[2022-09-27 02:08] jerqi commented on #234
It's ok for me if we disable this mechanism by default. Is it a safe mode for coordinator?

[2022-09-27 02:23] zuston commented on #234
Naming is difficult. Safe mode/ Recovery mode?

[2022-09-27 02:24] zuston commented on #209
Yes.

[2022-09-27 02:33] zuston commented on #133
I dont look through the full design of GRPC zero-copy design and Alluxio's implementation.
Maybe we could do the POC to test the performance compared with the netty implementation. Overall, it looks easy to extend the zero-copy by GRPC, like this https://github.com/GoogleCloudPlatform/grpc-gcp-java/pull/77

From my perspective, GRPC is the general and cross-language, that means it make possible to

[2022-09-27 02:37] jerqi commented on #133
We have had a POC code about Netty. It will improve 10% performance for Uniffle.

[2022-09-27 02:53] zuston commented on #133
Sounds great! If I have time, I will do a zero-copy POC to compare with netty.

[2022-09-27 03:00] zuston opened #244 "Flaky Test: CoordinatorGrpcTest.rpcMetricsTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

CoordinatorGrpcTest.rpcMetricsTest

### Actions URL

https://github.com/apache/in

[2022-09-27 06:06] #77 closed

[2022-09-27 07:36] jerqi commented on #211
If the pr is large, you could write a design document first.

[2022-09-27 10:20] zuston commented on #133
After applying the POC of netty, will the problem of #230 exist? @jerqi

[2022-09-28 11:54] zuston commented on #196
I reproduce this failure due to the DNS lookup failure. I try to fix this failure by adding the hostname into /etc/hosts mapping file.

[2022-10-09 03:24] zuston commented on #137
Do u have implemented this in your internal version? If not, I'm interested on this.

[2022-10-09 03:26] jerqi commented on #137
No. You can go ahead.

[2022-10-10 08:09] fpkgithub opened #257 "[Bug] No data can be read from ShuffleServer when the reduce task number exceeds 1024"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

I run some hive sql , No data can be read from ShuffleServer when the reduce task number

[2022-10-10 08:40] jerqi commented on #257
cc @leixm Could you help me take a look at this issue.  PR https://github.com/apache/incubator-uniffle/pull/190 modify this place's logic.

[2022-10-10 08:46] leixm commented on #257
I will follow up on this. @jerqi

[2022-10-10 08:48] jerqi commented on #257
@fpkgithub seems  that he has found solution to fix this issue. If you have time, you can help me review his pr.

[2022-10-10 09:04] fpkgithub commented on #257
Sure, I've been looking at this logic recently

[2022-10-11 09:48] zuston commented on #244
Closed. Solved in https://github.com/apache/incubator-uniffle/pull/256

[2022-10-11 09:48] #244 closed

[2022-10-11 09:49] zuston commented on #234
Solved in https://github.com/apache/incubator-uniffle/pull/247. Close this issue.

[2022-10-11 09:49] #234 closed

[2022-10-12 06:42] Gustfh commented on #211
any update? we also have plan to do this. may i ask whats the scope of the quota limit ? is it on single shuffle server ? or for the whole shuffle size. am thinking maybe we can do it as server level quota, so this feature can work with multiple server feature, the shuffle write could write to rest blocks to another server.

[2022-10-13 03:03] jiangbiao910 commented on #224
@wfxxh when I use a hdfs path，there log ：
`[INFO] 2022-10-13 11:00:54,868 main CoordinatorServer main - Start to init coordinator server using config /app/rss/rss/conf/coordinator.conf
[INFO] 2022-10-13 11:00:54,880 main RssUtils getPropertiesFromFile - Load config from /app/rss/rss/conf/coordinator.conf
[INFO] 2022-10-13 11:00:54,955 main CoordinatorServer registerMetrics - Register metrics
[INFO

[2022-10-13 03:07] wfxxh commented on #224
@jiangbiao910 please show your config

[2022-10-13 05:20] jiangbiao910 commented on #232
@kaijchen @zuston @jerqi  When I deploy  Coordinator Server from master  , it throws `[ERROR] 2022-10-13 11:22:04,116 main CoordinatorServer <init> - Errors on initializing coordinator server.
java.lang.NullPointerException
        at java.util.concurrent.ConcurrentHashMap.putVal(ConcurrentHashMap.java:1011)
        at java.util.concurrent.ConcurrentHashMap.put(ConcurrentHashMap.java:1006)

[2022-10-13 06:18] zuston commented on #232
Please attach your coordinator.conf file @jiangbiao910
The conf of `rss.coordinator.dynamicClientConf.enabled` default value is false.

[2022-10-13 13:26] zuston commented on #211
Currently I have no ideas on concrete design. If you want to contribute this feature, it’s better to have a simple design doc for reviewing. @Gustfh

Do u have some plan to invest this ticket? @smallzhongfeng

[2022-10-13 17:31] smallzhongfeng commented on #211
In the versions used internally in our company, we use quotas to limit the number of apps that a single user can submit. I don't have much idea about the number of shuffle servers that a single user can use. But I will write a simple document this weekend to discuss whether there are other requirements that can be developed in the future.@jerqi @zuston @Gustfh

[2022-10-14 03:11] zuston opened #263 "[Improvement] Introduce statestore of shuffle-server for upgrading quickly"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Currently, the cluster of shuffle-servers is hard to update quickly.

[2022-10-14 03:13] zuston commented on #263
@jerqi @frankliee @colinmjj @kaijchen Feel free to discuss more. I met such problems in our internal uniffle upgrading, so proposal this issue.

[2022-10-14 05:07] jiangbiao910 commented on #232
@zuston conf shoud be set
rss.coordinator.remote.storage.path hdfs://nameservice1/tmp/path1,hdfs://nameservice1/tmp/path2
no
rss.coordinator.remote.storage.path hdfs:///tmp/path1,hdfs:///tmp/path2

[2022-10-14 05:09] jiangbiao910 commented on #224
@wfxxh thank you very much，
conf shoud be set
rss.coordinator.remote.storage.path hdfs://nameservice1/tmp/path1,hdfs://nameservice1/tmp/path2
no
rss.coordinator.remote.storage.path hdfs:///tmp/path1,hdfs:///tmp/path2

[2022-10-14 06:31] frankliee commented on #263
Besides from state store, we also need to wait the memory data flushing to local or hdfs files

[2022-10-15 03:45] zuston commented on #263
Yes, this should be involved in design. Besides, the client should wait instead of connection failure when the corresponding server is restarting.

[2022-10-17 06:07] smallzhongfeng commented on #211
[https://docs.google.com/document/d/1MApSMFQgoS1VAoKbZjomqSRm0iTbSuKG1yvKNlWW65c/edit?usp=sharing](https://docs.google.com/document/d/1MApSMFQgoS1VAoKbZjomqSRm0iTbSuKG1yvKNlWW65c/edit?usp=sharing) If u have time, PTAL @jerqi @zuston

[2022-10-17 06:07] smallzhongfeng commented on #211
[https://docs.google.com/document/d/1MApSMFQgoS1VAoKbZjomqSRm0iTbSuKG1yvKNlWW65c/edit?usp=sharing](https://docs.google.com/document/d/1MApSMFQgoS1VAoKbZjomqSRm0iTbSuKG1yvKNlWW65c/edit?usp=sharing) If u have time, PTAL @jerqi @zuston

[2022-10-17 06:48] jerqi commented on #263
It will bring much complexity.

[2022-10-17 06:50] jerqi commented on #211
Could you add some diagrams?

[2022-10-17 07:12] smallzhongfeng commented on #211
OK, I will add later.

[2022-10-17 09:33] zuston commented on #263
Currently, it will cost several days to rolling update the shuffle-server. The cluster number is now 200+. This limits our rapid development and upgrade.

[2022-10-17 09:38] jerqi commented on #263
We have fewer nodes because our shuffle server occupy the entire machine.

[2022-10-17 09:41] jerqi commented on #211
Could you give us the authority of the `comment`?

[2022-10-17 09:43] zuston commented on #263
Got it. We will expand the cluster to 500+ in the future. So the upgrade is the big problem for us.

[2022-10-17 10:06] zuston commented on #211
+1

[2022-10-18 03:47] zuston commented on #263
Does the Uniffle community need this feature? @jerqi @frankliee

[2022-10-18 11:23] jerqi commented on #263
It's useful feature but it's a little complex.

[2022-10-19 02:23] #257 closed

[2022-10-19 04:28] smallzhongfeng commented on #211
Sorry, I forgot to give you permission, it has been updated.@jerqi @zuston

[2022-10-19 06:46] Gustfh commented on #211
so it's user level quota, what if single app produce large shuffle data, then impact other app, for example a app have large shuffle data and also have lots of stage, and running for days, if you enable memory storage, this app's shuffle could live in memory for long times, am wonder should we have a quota for this situation.

[2022-10-19 10:45] zuston commented on #263
I think the complexity is acceptable compared to the ease of upgrading it brings

[2022-10-19 10:55] zuston commented on #211
+1. I think the quota of bytes used by app/hadoop-user also should be involved in the design. And I think the different quota limitation like app-number/storage-bytes could be enabled by user.

[2022-10-19 12:17] leixm opened #273 "[Bug] Get shuffle result failed caused by concurrent calls to registerShuffle"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

The registerShuffle interface of ShuffleServer receives an empty remoteStoragePath, whic

[2022-10-19 12:18] leixm commented on #273
@zuston  @jerqi  Can you help take a look at this issue?

[2022-10-20 02:10] zuston commented on #273
Nice catch.

If the `registerShuffle` was called in driver concurrently, the exception will happen. I think the lifecycle of `remoteStorage` var could be scoped in the method of `registerShuffle`. Right? @leixm

[2022-10-20 03:19] jerqi commented on #273
Good catch.

[2022-10-20 04:57] leixm commented on #273
Yes, you are right.

[2022-10-21 02:46] leixm commented on #239
It doesn't seem feasible, because we also need to get the correct bufferSegments, if an EOFEXception is thrown, we don't know which bufferSegments are complete.

[2022-10-21 03:02] jerqi commented on #239
I can't get your point. Why don't we know which bufferSegments are complete?

[2022-10-21 03:46] jerqi commented on #239
When we encounter EOFException, we have read some index data, we can return the data that we have read.

[2022-10-21 03:59] leixm commented on #239
DataSkippableReadHandler#readShuffleData return ShuffleDataResult, ShuffleDataResult includes two properties, data and bufferSegments, so we will return the block of bufferSegments to be larger than data.

[2022-10-21 07:15] leixm commented on #133
What is the progress of this proposal, maybe I can join the development?

[2022-10-21 08:10] Gustfh commented on #198
we also met this error, but in fact it's rpc timeout, when we in compose client mode, the one time read exception will be catch, then try to read other storage , and if the result is empty, then the exception will be gone. at last client will check the blocks map, found the Inconsistent blocks issue. so am thinking there is exception confuse, some case is not inconsistent blocks issue, just read t

[2022-10-21 08:15] #273 closed

[2022-10-21 08:22] zuston commented on #198
+1.

[2022-10-21 08:36] jerqi commented on #133
We only have some POC code. I don't have much time, if you like , I can assign this issue to you. And I can provide our POC code to you.

[2022-10-21 08:39] zuston commented on #133
+1. Could u help make this POC code to another branch.

[2022-10-21 08:53] jerqi commented on #263
OK, I think it's more convenient that we shutdown the shuffle servers for a period of time. All the applications use ess , we upgrade all the shuffle servers, we let  the applications use the rss again.

[2022-10-21 09:08] zuston commented on #263
Emm... I also do this using your way. And In our co-location environment(Uniffle ShuffleServer on NodeManager), this is acceptable and I introduce the safemode to reject all newer assignment from newly app in our internal uniffle version.

But if the spark job is running on the k8s pod of less local disk or no ESS, how to upgrade?

[2022-10-21 09:15] jerqi commented on #263
You're right. StateStore is useful. But if you does some poc, it have great effective, or you use this feature in your environment, it's acceptable. This feature is a big feature, we should be careful. It might be more suitable to merge this feature when Uniffle are more stable.

[2022-10-21 09:27] zuston commented on #263
Agree with u about its big change. So I revisit this problem do we really need a statestore? Make a big change just for upgrading? Actually the shuffle-servers' state only be valid in short period which depends on jobs lifetime.

So I think we only need a mechanism  triggered by external call to let shuffle-server dump all its state to localfile/leveldb. After that, the shuffle-server could be res

[2022-10-21 13:43] jerqi commented on #263
More reasonable. But if we need a extra api for shuffle server,  we should consider it with https://github.com/apache/incubator-uniffle/issues/80

[2022-10-21 14:02] jerqi commented on #133
This poc is based on Uber RSS netty implement, it's better that we can compare the Ali's rss netty implement, Uber's rss netty implement and other RSS netty implement.

[2022-10-22 01:15] jerqi commented on #239
ok

[2022-10-22 14:44] selectbook commented on #138
Hello, can I have a try on this issue?

[2022-10-22 14:55] zuston commented on #138
Feel free to take it. Assign to you.

[2022-10-23 05:27] #79 closed

[2022-10-23 05:27] #109 closed

[2022-10-23 05:28] #164 closed

[2022-10-24 03:10] leixm commented on #133
Thank you.

[2022-10-24 03:10] leixm commented on #133
Thank you.

[2022-10-24 09:42] hursittarcan opened #277 "[FEATURE] Add Dutch language support to website"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

I would love to contribute to this project by translating the website to Dutch.

###

[2022-10-24 12:40] xianjingfeng commented on #80
@jerqi @colinmjj  I want to know if you have plan recently.  We have some functions that need to be built on the function of decommission, such as auto scaling We don't want to deviate too much from the community.

[2022-10-24 17:28] smallzhongfeng commented on #211
I added a simple graphic to illustrate the process of Spark's resource limitation. A more complete pr will be proposed this week.

[2022-10-24 17:40] smallzhongfeng commented on #211
This is a good suggestion. I am currently developing it, which may be implemented in the next pr.

[2022-10-25 02:28] jerqi commented on #198
What you want seems to be implemented in this pr https://github.com/apache/incubator-uniffle/pull/276? Is it right?

[2022-10-25 02:44] jerqi commented on #80
We have no  related plan recently. If you have interest about this topic, we can start a offline meeting to discuss this issue.

[2022-10-25 03:14] xianjingfeng opened #278 "[Improvement] Filter blocks by `taskIdBitmap` before read shuffle data"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

I found that when we use AQE, every task will read data from all part

[2022-10-25 03:19] jerqi commented on #278
I already have this optimization. https://github.com/apache/incubator-uniffle/blob/47effb25044780013ff51cc516261464435b5829/client/src/main/java/org/apache/uniffle/client/impl/ShuffleReadClientImpl.java#L101

[2022-10-25 04:22] zuston commented on #198
#276 just fix the block inconsistency in multiple replica. I think we just fast fail when encountering rpc timeout in this issue.

[2022-10-25 04:44] zuston commented on #80
+1.

[2022-10-25 05:44] xianjingfeng commented on #80
I am looking forward to it.

[2022-10-25 06:21] jerqi commented on #80
@zuston @xianjingfeng There are some other issues which we need to discuss, so I will send a email to our dev mail list, and select a proper date to start the meeting.

[2022-10-25 06:26] jerqi commented on #133
@leixm  @zuston Do you want to discuss this issue through a meeting? I will start a meeting to discuss the issue #80, I want to discuss this issue, too. There are some other issues which we need to discuss, so I will send a email to our dev mail list, and select a proper date to start the meeting. You can tell me what time you are free by the email.

[2022-10-25 06:35] jerqi opened #279 "Flaky Test: ClientConfManagerHdfsTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

[INFO] Running org.apache.uniffle.test.ClientConfManagerHdfsTest
Error:  Tests ru

[2022-10-25 07:01] xianjingfeng commented on #278
Well, but there are similar problems with reading from memory storage. I  want to solve it with #129 together.

[2022-10-25 07:12] #278 closed

[2022-10-25 07:38] leixm commented on #133
Let's discuss it.

[2022-10-25 09:57] zuston commented on #133
+1. Could we have a discussion in this week?

[2022-10-26 02:35] smallzhongfeng commented on #211
Of course, I'm looking forward to it.

[2022-10-26 03:12] jerqi commented on #133
@leixm I have already send an email https://lists.apache.org/thread/2jlm3fswmsxy619ldyo4px700p3ybnvc. Do you have time at 11 am (UTC +8) Thursday this week?

[2022-10-26 03:13] jerqi commented on #211
@Gustfh @smallzhongfeng  I have already send an email https://lists.apache.org/thread/2jlm3fswmsxy619ldyo4px700p3ybnvc. Do you have time at 11 am (UTC +8) Thursday this week?

[2022-10-26 03:15] jerqi commented on #80
@xianjingfeng  I have already send an email https://lists.apache.org/thread/2jlm3fswmsxy619ldyo4px700p3ybnvc. Do you have time at 11 am (UTC +8) Thursday this week?

[2022-10-26 03:16] leixm commented on #133
Yes, I'm free at this time.

[2022-10-26 04:51] xianjingfeng commented on #80
Yes, i have time.

[2022-10-26 06:20] jerqi commented on #211
@smallzhongfeng @Gustfh

Meeting link is https://meeting.tencent.com/dm/oR95wASCNe91

[2022-10-26 06:21] jerqi commented on #133
Meeting link is https://meeting.tencent.com/dm/oR95wASCNe91

[2022-10-26 06:23] jerqi commented on #80
Meeting link is https://meeting.tencent.com/dm/oR95wASCNe91

[2022-10-26 06:38] Gustfh commented on #211
ye, we are looking forward to it

[2022-10-26 06:40] xianjingfeng commented on #80
Get

[2022-10-26 11:10] jerqi commented on #189
You can raise some other issues for other compression codec , such as snappy, as good first issues. Let more people can join our community more easily.

[2022-10-26 11:10] #189 closed

[2022-10-26 11:11] jerqi commented on #189
close by #254

[2022-10-27 04:32] jerqi commented on #133
Offline Discussion Result:
We will compare the rpc frameworks of other rss, and @leixm will give a design doc. Next step, we will make the shuffle server will off heap as possible as we can.

[2022-10-27 04:34] jerqi commented on #211
Offline Discussion Result:
We should consider the quota of coordinator and the quota of shuffle server .

[2022-10-27 04:37] jerqi commented on #80
Offline Discussion Result:
Coordinator provide admin rest api, Coordinator is only used as proxy, Coordinator redirect the request to shuffle server by rpc.
Currently, we need the api
1. Decommission
2. UpdateConfiguration
3. Upgrade
cc @zuston, you can give your advice for us.

[2022-10-27 06:28] #239 closed

[2022-10-27 07:35] jerqi opened #282 "[FEATURE] Add a period local storage cleaner thread"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Because we don't use strict lock strategy, we will delete some shuffle data normally

[2022-10-27 08:03] zuston opened #283 "[FEATURE] Support snappy"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Support snappy to de/compress shuffle-data

### Motivation

The issue of #189 has in

[2022-10-27 08:39] jerqi commented on #138
@selectbook You can imitate https://github.com/apache/incubator-uniffle/blob/master/integration-test/mr/src/test/java/org/apache/uniffle/test/MRIntegrationTestBase.java, it's enough to run a WordCount test.

[2022-10-28 02:23] jerqi opened #285 "[Improvement] Only Use HDFS and LOCALFILE storageType in the test"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

HDFS and LOCALFILE storageType have poor performance, but they are us

[2022-10-28 02:29] jerqi opened #286 "[FEATURE] MR support slow start"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Currently, MR on RSS don't support slow start. We can support this feature.

### Mot

[2022-10-28 02:33] selectbook commented on #138
thanks, I will try to finish it in these days

[2022-10-28 03:13] jerqi opened #287 "[Improvement] Add k8s Operator pipeline"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

K8S Operator is complete, but we don't have the pipeline to run the t

[2022-10-28 03:14] jerqi opened #288 "[FEATURE] Operator support PVC"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Operator support PVC

### Motivation

More flexible

### Describe the solution

_No

[2022-10-28 03:15] jerqi opened #289 "[FEATURE] Operator support annotation"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Operator support annotation

### Motivation

More flexible

### Describe the solutio

[2022-10-28 03:16] jerqi opened #290 "[FEATURE] Make RpcNodePort and HttpNodePort optional"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Make RpcNodePort and HttpNodePort optional

### Motivation

More flexible

### Descr

[2022-10-28 06:40] zuston commented on #137
I propose the design of this issue. https://docs.google.com/document/d/1G0cOFVJbYLf2oX1fiadh7zi2M6DlEcjTQTh4kSkb0LA/edit?usp=sharing

PTAL @jerqi

[2022-10-28 07:04] jerqi commented on #137
It's better to sort MapId before the data are flushed.It  won't bring too much cost for non-AQE optimized stages.

[2022-10-28 07:08] zuston commented on #137
Does data need to sort by mapId?

[2022-10-28 07:10] jerqi commented on #137
Yes, we only need local order. If we have local order, we can filter much data effectively.

[2022-10-28 07:43] zuston commented on #137
Emm...  I remember you prefer only sort the index-file instead of data-file, which is mentioned in offline meeting. Do i misunderstand you?

[2022-10-28 07:53] jerqi commented on #137
Give an example:
We have three buffers to flush, they taskId 1 block, taskId 2 block, taskId 3 block. We should sort them to taskId 1 block, taskId 2 block, taskId 3 block. And then we can flush them to disks.Then we receive taskId 2 block, taskId 6 block, taskId 1 block, we sort them and flush them, so currently the data on the disk should be
taskId 1 block , taskId 2 block, taskId 3 block, taskI

[2022-10-28 08:24] zuston commented on #137
If one reader want the data from taskId=1, so it still want to read the data segment from `taskId-1 block , taskId-2 block, taskId-3 block, taskId-1 block`. The data of `taskId-2 block, taskId-3 block` is unnecessary for this reader. Right?

[2022-10-28 08:35] jerqi commented on #137
Yes.

[2022-10-28 08:40] zuston commented on #137
This looks ineffective and it's the same with the original block filter.

[2022-10-28 08:42] jerqi commented on #137
Actually considering random io, It will cost the same time when you read 3 records or 2 records.

[2022-10-28 08:48] zuston commented on #137
Yes. According to the problems mentioned by proposal design motivation section, the key point is a lot of data read by multiple times which depends on split number optimized by AQE. From this respective, we should sort the data file.

[2022-10-28 09:00] jerqi commented on #137
We don't need global order, local order should be enough.

[2022-10-28 12:27] jerqi opened #291 "[FEATURE] Async Reader"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

We synchronize to  read the data. If we asynchronize to read the data. We could impr

[2022-11-03 11:07] jerqi commented on #196
@zuston Kerberos test seems unstable, I will reopen this issue.

[2022-11-03 11:22] zuston commented on #137
#293

[2022-11-03 13:02] zuston opened #297 "[Bug] Potenial data lost when local storage meets high-watermark"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

When enable the MEMORY_LOCALFILE storage type in uniffle shuffle-server(it has the 4 dis

[2022-11-03 13:04] zuston commented on #297
It's better to introduce dynamic storage selection mechanism to solve this

@jerqi PTAL, I just read the code to find this problem, If I'm wrong, please tell me. Thanks

[2022-11-03 13:16] zuston commented on #297
It is OK but firstly we should know the partial data in other storage. Right? This should be considered in detail.

By the way, when reviewing your PR #281 and then surfing this part, I found this bug

[2022-11-04 01:40] zuston commented on #263
I think I will take this issue that dumping all state when shuffle-server is triggered by external call. If you don't have any idea, I will go ahead and propose a design. @jerqi

[2022-11-04 02:16] jerqi commented on #263
I hope the behavior can be managed by our admin api, you can go ahead with your plan, but please make compatible design with admin api.

[2022-11-04 06:56] jerqi commented on #297
How do we determine that disk is broken?
I think the disk can't be read or written. So I don't think this is a bug.
So we should let the application fail fast. But I already have multiple replicas, so it's unnecessary to fail fast.

[2022-11-04 14:10] zuston commented on #297
I think you are right. The broken disk is marked as corrupted due to the checking of read and write. It wont happen in my above description.

But I think it's necessary to add some test case to keep this logic and I will do this.

[2022-11-05 03:48] zuston opened #299 "[Improvement] Make config type of RSS_STORAGE_TYPE as enum"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Make config type of `RSS_STORAGE_TYPE` in `RssBaseConf` as enum

###

[2022-11-05 03:53] zuston opened #300 "[Improvement] Make config type of RSS_CLIENT_TYPE as enum"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Make config type of RSS_CLIENT_TYPE as enum

### How should we improv

[2022-11-05 06:10] jerqi commented on #297
close by #298

[2022-11-05 06:10] #297 closed

[2022-11-05 06:55] #137 closed

[2022-11-05 12:28] zuston opened #301 "[Subtask] [Improvement][AQE][LocalOrder] Merge continuous ShuffleDataSegment into single one"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues) and found no similar issues.

### Describe the subtask

Currently, the LocalOrderSegmentSplitter will split the index file into multiple shuffleDataSegme

[2022-11-05 12:34] zuston opened #302 "[Subtask][Improvement][AQE] Introduce the new MergedShuffleDataSegment to reduce number of rpc"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues) and found no similar issues.

### Describe the subtask

Currently, when using the `LocalOrderSegmentSplitter`, it will split multiple `ShuffleDataSegment

[2022-11-05 15:57] jerqi commented on #302
Maybe global order will be a better solution for this case.

[2022-11-05 23:50] zuston commented on #302
Yes, maybe we should introduce global order to compare with other distribution types in different data size

but this pr is still meaningful for local order

[2022-11-05 23:55] zuston commented on #135
Do you have experience on this? I think this is necessary to do daily benchmark to avoid performance regression

[2022-11-06 04:36] amaliujia commented on #283
https://github.com/apache/incubator-uniffle/pull/304

[2022-11-06 05:00] jerqi commented on #135
We can't use git action to do daily benchmark. Because the git action machine may have unstable performance. I want to introduce the TPCDS test like https://github.com/apache/spark/blob/master/sql/core/src/test/scala/org/apache/spark/sql/TPCDSQueryTestSuite.scala here.

[2022-11-06 07:33] #283 closed

[2022-11-07 02:16] amaliujia commented on #290
Sending this PR for this issue https://github.com/apache/incubator-uniffle/pull/305

[2022-11-07 03:22] #290 closed

[2022-11-07 03:59] #301 closed

[2022-11-07 05:47] zuston opened #306 "[FEATURE] Introduce dynamic disk selection for one partition in LOCALFILE"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Introduce the dynamic disk selection for one partition in LOCALFILE, especially when

[2022-11-07 06:08] jerqi commented on #306
If you use MEMORY_LOCALFILE_HDFS, it won't be a big problem.

[2022-11-07 06:32] zuston commented on #306
Yes. This is an optional solution.

[2022-11-08 03:05] tsface commented on #228
I had the same problem.
- Compile using community documentation.
- I decompiled the rss-client-spark3-0.6.0-shaded.jar package, and found no `org.apache.uniffle.com.google.protobuf.GeneratedMessageV3.isStringEmpty(Ljava/lang/Object;)Z` method.

[2022-11-08 03:33] jerqi commented on #228
We already shade this jar https://github.com/apache/incubator-uniffle/blob/cf63eae4539264f694760fdf48d882d931ac8e20/client-spark/spark3/pom.xml#L95

[2022-11-08 04:16] tsface commented on #228
@jerqi thx!

In version 0.6.0, I specified the protobuf java version as 3.19.2.
Currently, the RSS service is working

[2022-11-08 10:37] zuston commented on #263
I think the shuffle-server will follow the next steps when upgrading

### Dump and stop
1. Stop the grpc server to avoid extra data sent or got (client will have to hold on waiting and retry due to the connection refused failure)
2. Make its state unhealthy, which should be recognized by coordinator to avoid extra assignments
3. Dumping all state to file

### Restore
1. Restore state from the file

[2022-11-08 10:55] jerqi commented on #263
You should also consider timeout of heartbeat will delete the shuffle.

[2022-11-09 16:00] selectbook commented on #299
is it change to like this?
`public static final ConfigOption<StorageType> RSS_STORAGE_TYPE = ConfigOptions
      .key("rss.storage.type")
      .enumType(StorageType.class)
      .noDefaultValue()
      .withDescription("Data storage for remote shuffle service");`

[2022-11-09 16:08] selectbook commented on #299
is it change to something like this?

`public static final ConfigOption<StorageType> RSS_STORAGE_TYPE = ConfigOptions`
    `.key("rss.storage.type")`
    `.enumType(StorageType.class)`
    `.noDefaultValue()`
    `.withDescription("Data storage for remote shuffle service");`

[2022-11-09 16:34] jerqi commented on #299
Yes, do you want to submit a PR?

[2022-11-09 16:49] selectbook commented on #299
yes i will fix this

[2022-11-09 23:57] amaliujia commented on #299
I looked this a bit. I thought this requires a good amount of refactoring. For example you might need to move `StorageType.class` to `common` module.

[2022-11-11 06:43] leixm opened #309 "[FEATURE] Support ShuffleServer latency metrics"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

When the ShuffleServer load is high, we cannot directly judge whether the client rea

[2022-11-11 06:44] leixm commented on #309
@jerqi  @zuston  Do you think this feature needs to be supported?

[2022-11-11 06:56] jerqi commented on #309
For batch process system, throughout in specific time may be more important than latency. The latency may be related to amount of data, too. It's ok for me to support some latency metrics.

[2022-11-11 11:59] zuston commented on #309
Sounds great! Previously I introduce some grpc metrics to measure the pressure, but it's not effective.

[2022-11-11 17:42] selectbook commented on #300
Because the change of this issue involves only one class change, I want to use this to verify whether my thinking is correct

[2022-11-12 07:15] zuston opened #312 "[Improvement] [AQE] Introduce new partition data distribution of global order"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

In #293, it introduces the new partition data distribution abstractio

[2022-11-12 07:18] zuston opened #313 "[Improvement] Support ZSTD in the spark2.x version"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

In PR of #254, the ZSTD is introduced in uniffle. But in this impleme

[2022-11-12 07:47] zuston opened #316 "[Improvement] Remove the PartitionRange"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Currently, the partitionRange is not used in spark/mr. Let's remove t

[2022-11-12 07:51] zuston commented on #316
This is mentioned in offline discussion @jerqi .

[2022-11-12 07:58] zuston opened #317 "[FEATURE] Introduce the general remote fs access layer"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Currently, we use the Hadoop filesystem interface to be interactive with S3/OBS/HDFS

[2022-11-12 09:10] jerqi commented on #317
I have some concern about some low performance operations about object storage such as `Append` operation and `List` operation. Maybe we need extra optimization.

[2022-11-12 10:32] rhh777 commented on #154
When the RDD is Empty, the shuffle is triggered and the **Empty assignment to Shuffle Server**

        val conf = new SparkConf()
        conf.set("spark.shuffle.manager","org.apache.spark.shuffle.RssShuffleManager")
        conf.set("spark.rss.coordinator.quorum","localhost:19999")
        conf.set("spark.rss.storage.type","MEMORY_LOCALFILE")

        val session: SparkSession = SparkSession.bui

[2022-11-12 14:30] jerqi commented on #154
I got it. According to my understanding, this program should print nothing. Actually we shouldn't request the coordinator when we don't have any partition, we could return the RssShuffleHandle directly. Would you like raise a pr to fix this problem?

[2022-11-14 03:21] baitian77 opened #321 "[Umbrella] Support Tez Client"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Now, uniffle support Spark and MR client，but does not support tez.

### Task list
1.

[2022-11-14 03:36] jerqi commented on #321
Thanks! It's a really great work!

[2022-11-14 04:01] zuston commented on #321
Looking forward to this feature!

[2022-11-14 10:06] a140262 opened #323 "[Bug] Log host path access denied when UID is different from GID"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

My Spark application's UID is different from GroupID, ie. use `999:1000` to access /data

[2022-11-14 11:16] wangao1236 commented on #323
Sorry, this part of the feature does have a bug. Because there are so many arguments in SecurityContext, we initially used fsgroup for convenience and assumed that uid and gid were the same by default. We will fix this as soon as possible, or can you help submit a PR? @a140262

[2022-11-14 11:37] wangao1236 commented on #323
Sorry, this part of the feature does have a bug. Because there are so many arguments in SecurityContext, we initially used fsgroup for convenience and assumed that uid and gid were the same by default. We will correct this as soon as possible, or we really appreciate that you can help to submit a PR?

[2022-11-14 12:51] rhh777 commented on #154
ok

[2022-11-15 09:57] leixm commented on #309
You are right, but if the latency continues to be high for a long time, it will affect the task, slow down or even cause the task to fail. We can judge whether it may have affected the task according to the fluctuation of latency.

[2022-11-16 06:39] xianjingfeng opened #328 "[Improvement] Cleanup unused shuffle servers after stage completed"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

If there are many stages in one applicaiton, spark driver will send h

[2022-11-16 06:49] xianjingfeng opened #329 "[Improvement] Catch NPE in `org.apache.uniffle.server.ShuffleTaskManager#addFinishedBlockIds`"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

`reportShuffleResult` after app expired in shuffle server  will throw

[2022-11-16 06:54] jerqi commented on #328
Spark has a mechanism called `ExchangeReuse`. It means that we can use the older stage' shuffle data.

[2022-11-16 06:58] jerqi commented on #328
Have you joined our `Wechat` group?

[2022-11-16 07:02] #154 closed

[2022-11-16 07:06] xianjingfeng commented on #328
#249 will clean the older stage' shuffle data, and it will not clean shuffle servers in shuffleServerInfoSet, right?

[2022-11-16 07:06] xianjingfeng commented on #328
No, how to join it?

[2022-11-16 07:08] jerqi commented on #328
You can scan the QR code
![bcde7855d24455ec870a45a3f70df3c0](https://user-images.githubusercontent.com/8159038/202109313-1b2f86c5-35a4-4ed2-8122-066315b812e0.png)

[2022-11-16 07:11] wangao1236 commented on #323
@a140262  have modified it for time reasons, thanks for pointing this out. If possible, we would really appreciate your help in reviewing.

[2022-11-16 07:28] xianjingfeng commented on #328
So it is ok if we cleanup unused shuffle servers?

[2022-11-16 07:31] jerqi commented on #328
Yes, if we already removed the shuffle data in those shuffle servers, we can remove the shuffle servers in the shuffleServerInfoSet.

[2022-11-16 08:40] #323 closed

[2022-11-16 10:02] #309 closed

[2022-11-16 11:05] #329 closed

[2022-11-17 09:17] zuston opened #333 "[FEATURE] Expose metrics of TOP10 app bytes in one shuffle server"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

 It's better to expose metrics of TOP10 app bytes in one shuffle server, especially

[2022-11-18 03:53] bin41215 opened #337 "[FEATURE] Support Tez Client Design"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

We have made a design about support tez,  details are in this document.
https://docs

[2022-11-18 04:07] jerqi commented on #337
Could you give us the authority of the comment?

[2022-11-18 04:12] jerqi commented on #337
Maybe we can reuse https://github.com/apache/incubator-uniffle/issues/321, you can attach the design doc in the issue #321

[2022-11-18 09:08] xianjingfeng opened #339 "[Improvement] Optimize retry logic in `ShuffleServerGrpcClient#sendShuffleData`"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Now in `org.apache.uniffle.client.impl.grpc.ShuffleServerGrpcClient#s

[2022-11-18 09:13] zuston commented on #339
Maybe this has been optimized in #332

[2022-11-18 10:07] zuston commented on #333
cc @jerqi @kaijchen Do you have some suggestion on this?

[2022-11-18 10:07] xianjingfeng opened #341 "[FEATURE] Support rack awareness"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the feature

Support rack awareness for better performence.

### Motivation

If our tasks and shu

[2022-11-18 10:13] zuston commented on #341
Thanks for proposing this issue. I think it's necessary for the bigger uniffle cluster located in multiple DCs or racks.

And currently maybe you could use the `tag` to indicate one kind of shuffle-servers but the spark jobs also should be specified the one `tag` . cc @jerqi

[2022-11-18 10:35] xianjingfeng commented on #339
It seems not. This issue describes that when there are multiple replicas, if the first server can't be written, we should switch to servers as soon as possible.

[2022-11-18 11:13] jerqi commented on #333
What can the metrics tell us? Which problems do you want to solve?

[2022-11-18 12:41] xianjingfeng commented on #341
1. I know this feature. For us, it is better to use multiple clusters than tags.
2. Usually, we can't limit all task of one job to run in same rack or same DC.

[2022-11-18 13:10] #287 closed

[2022-11-18 13:15] jerqi commented on #341
But all map tasks will send the reduce task to one shuffle server.

[2022-11-18 13:24] jerqi commented on #341
Could you give us an example?

[2022-11-18 13:50] xianjingfeng commented on #341
Not always. if we have 3 blocks(1 replicat) and 3 servers and we can send 1 block to each server.

If we have a job with 3 tasks: (task-1: rack-1, task-2: rack-2, task-3: rack-3)
And 3 servers with same `tag`: (server-1: rack-1, server-2: rack-2, server-3: rack-3)
And 3 blocks
task-1 send block-1 to server-2
task-2 send block-2 to server-3
task-3 send block-3 to server-1

[2022-11-18 14:03] zuston commented on #333
When reaching the high watermark, we could kill the max data size  app to keep other apps stability

[2022-11-18 14:05] zuston commented on #339
Make sense.

But this may be hard to control. If you have some ideas, please go ahead

[2022-11-18 14:09] kaijchen commented on #333
I think it's ok to include this metrics if it doen't introduce too much overhead.

[2022-11-18 14:11] zuston commented on #341
Emm.. A little tip, the `tag` is bound to job level.

[2022-11-18 14:15] zuston commented on #333
I think it won’t. The aggregated data of single app used bytes has been collected in current codebase, we just need to expose

[2022-11-18 14:24] jerqi commented on #339
I don't suggest that we modify the default value. Because we should verify the parameters in our production environment with huge amount of data first.

[2022-11-19 15:26] jerqi opened #342 "[Improvement] Check Spark Serializer type"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Spark have multiple serializers. We support the spark serializer whic

[2022-11-19 17:06] jerqi opened #343 "[Improvement] Shade Netty Native lib"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Our Netty only shade jar package, never shade netty package, If we us

[2022-11-20 07:13] jerqi commented on #341
Maybe I got your point. If we have rack1, rack2, rack3. Rack2 may have lower latency than rack3 for rack1. If we have tasks in rack1, rack1 don't have free shuffle server, we should allocate rack2's shuffle server to the tasks. Tag can't be compared. Maybe @xianjingfeng should introduce comparable properties to our scheduler strategy. Do I get your point?

[2022-11-21 02:04] xianjingfeng commented on #341
I am not sure.
1.  `AssignmentStrategy` will assign nodes from different racks to a stage.
2.  When task send data to shuffle servers, it will send to the server in the same rack with it first.
3.  When task read data from shuffle servers, it will read from the server in the same rack with it first.

[2022-11-21 02:05] jerqi commented on #341
Is this a feature for multiple replicas?

[2022-11-21 02:08] xianjingfeng commented on #341
Yes

[2022-11-21 02:27] xianjingfeng commented on #339
But the current default value is obviously unreasonable.
`rss.client.send.check.timeout.ms=60000`  `rss.client.retry.max=100`  `rss.client.retry.interval.max=10000`
It will not send data to other servers if the first server blocked.
And after #159, it will retry 300 times

[2022-11-21 02:29] xianjingfeng commented on #339
I just change the default value and adjust the retry logic introduced by #159

[2022-11-21 03:37] #342 closed

[2022-11-21 07:59] xianjingfeng opened #346 "[Bug] `indexWriter` don't close if exception thrown when close `dataWriter ` in `HdfsShuffleWriteHandler`"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

I found there are many threads in shuffle server as follows:

[code]

And all `DataStrea

[2022-11-21 09:49] jerqi commented on #346
Good catch!

[2022-11-21 12:37] jerqi commented on #341
You'd better give us a simple design doc, refer to https://docs.google.com/document/d/1G0cOFVJbYLf2oX1fiadh7zi2M6DlEcjTQTh4kSkb0LA/edit?usp=sharing

[2022-11-21 13:39] sfwang218 commented on #282
Sorry, I'm busy recently, Could you give me some suggestion? I will do it this week.

[2022-11-21 15:08] jerqi commented on #282
We can modify the ShuffleTaskManger and LocalStorageManager to implement this function.
For ShuffleTaskManager, you can see  the method `removeResourcesByShuffleIds`, we can refer to it and then add a daemon thread.
For LocalStorageManager, you can add a interface `checkLeakShuffleData(Collection<String> appIds)` for StorageManager. LocalStorageManager implement this interface.

[2022-11-22 02:18] jerqi commented on #211
close by #311

[2022-11-22 02:18] #211 closed

[2022-11-22 09:57] zuston opened #348 "[Improvement] Periodically output a list of running apps in coordinator side"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Periodically output a list of running apps in coordinator side, for b

[2022-11-22 09:58] zuston commented on #348
Feel free to pick up this ~

[2022-11-22 10:54] jerqi commented on #348
There may be many applications in the production environment. It's a risky operation.

[2022-11-22 13:38] sfwang218 commented on #282
I think this way does not work, because the appId is a already removed from memory data structure ShuffleTaskManager#shuffleTaskInfos, and we can only parse the appid from the Storage file directory,
and then Compare with ShuffleTaskManager#shuffleTaskInfos.
I'm doing it in this way.

[2022-11-22 14:19] jerqi commented on #282
Yes, you're right.
You should pass current memory appIds to storageManager by a method `checkLeakShuffleData(Collection<String> appIds)`, storageManager check disks and parse disk appIds. and then storagemanager compare disk appIds and memory appIds. StorageManager remove disk appIds which don't exist in memory appIds.

[2022-11-22 14:30] xianjingfeng commented on #339
Yes. But I think we usually use multiple replicas.If the user is not familiar with this mechanism, he will think that fault tolerance can be achieved without modifying other configurations.

[2022-11-22 15:28] #346 closed

[2022-11-23 07:14] lixy529 opened #352 "[Bug] inconsistent blocks number"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

Many tasks tasks of spark jobs will throw the exceptions that the inconsistent blocks nu

[2022-11-23 07:42] xianjingfeng commented on #352
Maybe #276 is help for you. Coming soon.

[2022-11-23 07:49] zuston opened #353 "[Bug][AQE][LocalOrder] Incorrect check of discontinuous blocks"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

I think we misunderstand the [startMapIndex, endMapIndex). the index is not the map task

[2022-11-23 07:49] zuston commented on #353
PTAL @jerqi

[2022-11-23 08:13] jerqi commented on #353
I have told you this problem. They're related although they're not same. Now we don't have other mechanism to know mapIndex.

[2022-11-23 11:18] jerqi commented on #352
Could you try to use the master code?

[2022-11-24 06:33] smallzhongfeng opened #356 "[Improvement] Make the startup of QuotaManager a configuration item"
### Code of Conduct

- [x] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

Avoid invalid startup of QuataManager.

### How should we improve?

W

[2022-11-24 06:40] smallzhongfeng commented on #356
cc @jerqi @xianjingfeng Do you have any other good suggestion?

[2022-11-24 06:44] jerqi commented on #356
It's ok for me.

[2022-11-24 06:54] #353 closed

[2022-11-24 10:24] lixy529 commented on #352
The patch has been updated. The problem still exists.

[2022-11-24 10:26] lixy529 commented on #352
Let me try

[2022-11-24 12:55] lixy529 commented on #352
The same problem exists with the master version.

[2022-11-24 13:00] jerqi commented on #352
Could you give me the shuffle server's log? What's your shuffle data size and job's concurrency?

[2022-11-24 13:08] jerqi commented on #352
Maybe you should give me the executor's logs, too.

[2022-11-25 01:16] melodyyangaws commented on #228
i am still having the error while running a benchmark application with Spark on k8s Operator. The source code from Uniffle is the latest up to Nov 2022. Please help!

Versions:
RSS version: "0.7.0-snapshot"
Spark:3.2.0
hadoop-version 3.2.1

Code snippet from my Dockerfile:
[code]

The error mesage from Spark application logs:
[code]

[2022-11-25 01:27] a140262 commented on #228
i am still having the error while running a benchmark application with Spark on k8s Operator. The source code from Uniffle is the latest up to Nov 2022. Please help!

Versions:
RSS version: "0.7.0-snapshot"
Spark:3.2.0
hadoop-version 3.2.1

Code snippet from my client Dockerfile:
[code]

Server side Dockerfile:
[code]

The error mesage from Spark application logs:
[code]

[2022-11-25 02:05] jerqi commented on #228
Could you give your configurations (including Spark, Shuffle Server, Coordinator) and logs (including drivers, executor, driver and coordinator)?

[2022-11-25 02:10] jerqi commented on #228
@leixm @smallzhongfeng @tsface Is there this problem? Do we need a pr to fix this issue?

[2022-11-25 03:42] a140262 commented on #228
the server & coordinator configurations are using the github's [example](https://github.com/apache/incubator-uniffle/blob/master/deploy/kubernetes/operator/examples/configuration.yaml), Spark configure is also using the Uniffle's example:
[code]

[2022-11-25 07:56] xianjingfeng commented on #356
It's ok for me.

[2022-11-25 10:21] xianjingfeng commented on #339
Do you have any better ideas? @jerqi

[2022-11-25 13:24] #282 closed

[2022-11-25 14:39] jerqi commented on #339
Do you want to solve to avoid sending too much data to a heavy load server?

[2022-11-25 15:17] xianjingfeng commented on #339
No, i just want to solve that when the first shuffle server can't be written, we can send data to another one.

[2022-11-25 15:58] jerqi commented on #339
How can we judge whether the server is writable?

[2022-11-26 02:38] xianjingfeng commented on #339
We can set a timeout to per server. The current problem is that there is only the timeout for block sending and the time to send data to one server is bigger than the timeout for block sending

[2022-11-26 03:27] jerqi commented on #339
Could we add a config option for multi replicas timeout? If we use multi replicas, we could use this timeout.

[2022-11-26 07:00] #356 closed

[2022-11-26 07:11] xianjingfeng commented on #339
It's a little complicated. How about set real timeout to  `rss.client.send.check.timeout.ms *  2` if `rss.data.replica.skip.enabled=true`

Another problems:
1. Before #159 it will retry 100 times, but it will retry 300 times after it. Should we set `rss.client.retry.max=33` for recovery it?
2.

100 * 10000 = 1000000 > 600000,  This default values seems unreasonable.

[2022-11-26 07:16] jerqi commented on #339
Could we add some retry strategy? When we encounter some exception, we won't retry.

[2022-11-26 07:37] xianjingfeng commented on #339
It will not retry if some exception encountered in `requirePreAllocation`, it just retry when server has no buffer.

[2022-11-26 07:48] jerqi commented on #339
<img width="596" alt="企业微信截图_42660f61-94f9-4f06-87ce-1e87ecb0859b" src="https://user-images.githubusercontent.com/8159038/204078265-dbe47223-df60-4a8e-827e-7b122e89e07f.png">
If we use multi replicas and then we encounter rpc exception, it seems that we shouldn't retry.

[2022-11-26 08:03] xianjingfeng commented on #339
How about if there is a problem with the client network.

[2022-11-26 08:17] jerqi commented on #339
Em.... it seems better that we reduce the retry times. Evenly, retry times could be less than 33. For online service, 1 retryTimes is enough. For our production, service usually will happen full gc. It may last 20s. For multi replicas, you could give a better advice.

[2022-11-26 08:40] advancedxy commented on #339
On the other side, besides to reduce retry times, the client could send the same data to different shuffle server concurrently? Other shuffle system does that.

However it may require large effort of refactoring and the network bandwidth and shuffle data usage doubled.

[2022-11-26 08:53] xianjingfeng commented on #339
It has done this. you can see
https://github.com/apache/incubator-uniffle/blob/57a834b083d9dae291091e4f2359d060ba30abe0/client/src/main/java/org/apache/uniffle/client/impl/ShuffleWriteClientImpl.java#L240-L258

[2022-11-26 08:55] xianjingfeng commented on #339
`rss.client.retry.max` is just for `requirePreAllocation` and it just retry when server has no buffer.

[2022-11-26 09:11] jerqi commented on #339
Does it waste too much time that we still retry `requirePreAllocation` because of no buffer?

[2022-11-26 09:17] xianjingfeng commented on #339
Yes. Because it is very common that there is no buffer, so we should retry for a few times. Maybe 33 is too many, i think 10 is enough

[2022-11-26 09:33] jerqi commented on #339
Maybe It's better that  use the timeout `rss.client.send.check.timeout.ms * replicateWrite`. RetryTimes use `rss.client.retry.max / replicateWrite`.

[2022-11-26 09:40] advancedxy commented on #339
Thanks for pointing out that. I did a quick look at the shuffle write client code, it seems that the `sendShuffleData` process is blocked by the first round to the primary shuffle servers. I think rather to reduce the `rss.client.send.check.timeout.ms` settings(-> which causes task retry), how about refactor `sendShuffleDataAsync` to return early and the send round of `sendShuffleDataAsync` could

[2022-11-26 09:48] xianjingfeng commented on #339
`rss.client.send.check.timeout.ms * 2`,  because it will send two rounds no matter how many replica.
And i am ok for this logic.

But we should also solve this problem first.

[2022-11-26 09:58] xianjingfeng commented on #339
`rss.client.send.check.timeout.ms` is for limit the max time to finish send blocks to all replicas. And how to let it return early is what we need discuss.

[2022-11-26 10:27] jerqi commented on #339
Should we reduce `rss.client.retry.max` and `rss.client.retry.interval.max=10000` according to write replicas?

[2022-11-26 10:41] xianjingfeng commented on #339
I think it is ok.  And i think we should remove `rss.client.send.check.timeout.ms`, we can just control by `rss.client.retry.max` and `rss.client.retry.interval.max`. Otherwise, it's too complex and diffcult to control.

[2022-11-26 15:41] jerqi commented on #339
Could we check  `rss.client.send.check.timeout.ms`? If   `rss.client.send.check.timeout.ms` is less than `rss.client.retry.max * rss.client.retry.interval.max`, we throw an exception.

[2022-11-26 23:36] tsface commented on #228
@jerqi
Currently, i have only tested version 0.6.0.
Like I mentioned above, I just specified the `protobuf-java` version as `3.19.2` in the pom file.

I checked the compile-time log, and I guessed that it was caused by the unspecified version of `protobuf-java` when compiling the shade jar package of the `rss-client-spark3` module.

I can upgrade to the latest version, if the problem still exists,

[2022-11-27 02:14] leixm commented on #228
You're right, it's a problem, we avoid this problem by excluding protobuf-java in the internal version, like:
`client-spark/spark3/pom.xml`
[code]

[2022-11-27 02:21] leixm commented on #228
You can submit a new pr to fix this issue.

[2022-11-27 02:21] leixm commented on #228
You can submit a new pr to fix this issue. @tsface

[2022-11-27 03:03] xianjingfeng commented on #339
I’m ok

[2022-11-27 04:26] jerqi commented on #228
Thanks @tsface @leixm

[2022-11-27 09:04] #339 closed

[2022-11-27 21:47] amaliujia commented on #333
Given this is a starter issue, do you mind sharing some key code pointers to help understand the workflow of the shuffle server that collects then observes the app bytes?

I assume it cannot be limited to only TOP 10 since the metrics will change and there always a need to sort?

[2022-11-28 01:55] #300 closed

[2022-11-28 02:53] zuston opened #363 "[Improvement] Make the coordinator client managed by CoordinatorClientFactory singleton"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

We should make the coordinator client managed by `CoordinatorClientFa

[2022-11-28 03:13] #228 closed

[2022-11-28 03:14] jerqi commented on #228
@a140262 The fix pr have been merged into the master branch.

[2022-11-28 09:33] kaijchen opened #366 "Flaky Test: HealthCheckCoordinatorGrpcTest#healthCheckTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

[code]

### Actions URL

https://github.com/apache/incubator-uniffle/actions/runs

[2022-11-28 09:36] kaijchen opened #367 "Flaky Test: ShuffleFlushManagerOnKerberizedHdfsTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

[code]

### Actions URL

https://github.com/apache/incubator-uniffle/actions/runs

[2022-11-28 09:37] kaijchen commented on #367
Duplicated with #196

[2022-11-28 10:21] zuston opened #368 "Flaky Test: WriteAndReadMetricsTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

WriteAndReadMetricsTest

### Actions URL

https://github.com/apache/incubator-uni

[2022-11-28 16:04] jerqi commented on #124
closed by #276

[2022-11-28 16:04] #124 closed

[2022-11-29 02:10] xianjingfeng opened #369 "[Improvement] Exception should not be thrown if some blocks are corrupted"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

If some blocks are corrupted, exception will be thrown as follow.

`U

[2022-11-29 06:05] zuston opened #371 "Flaky Test: PartitionBalanceCoordinatorGrpcTest"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the flaky test

[code]

### Actions URL

https://github.com/apache/incubator-uniffle/actions/runs

[2022-11-29 06:21] zuston opened #372 "[Improvement] Mark app data lost when encountering events dropped"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

When shuffle-server encounters disk problems and triggers the mechani

[2022-11-29 06:21] zuston commented on #372
@xianjingfeng @jerqi PTAL. I think this is an improvement.

[2022-11-29 06:23] jerqi commented on #372
For multi replicas, it won't be suitable. Because one replica don't need store complete data for multi replicas.

[2022-11-29 06:25] zuston commented on #372
I missed this point. So maybe we need to make job fast fail only when single replica is enabled?

[2022-11-29 06:35] jerqi commented on #372
Server don't have replica concept.

[2022-11-29 07:04] zuston opened #373 "[Improvement] Improve stability when using MEMORY_LOCALFILE type"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

I want to raise this issue to improve stability when using MEMORY_LOC

[2022-11-29 07:05] zuston commented on #373
PTAL @jerqi @xianjingfeng @leixm @smallzhongfeng @kaijchen

[2022-11-29 08:19] #369 closed

[2022-11-29 08:36] xianjingfeng opened #375 "[Improvement] HDFS_URI will be null if we run a single UT method."
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### What would you like to be improved?

HDFS_URI will be null if we run a single UT method.
https://github.co

[2022-11-29 08:48] jerqi commented on #375
Could you give a way to reproduce the problem?

[2022-11-29 10:35] xianjingfeng commented on #375
![sc-20221129181224](https://user-images.githubusercontent.com/11752250/204506904-b5e40816-34d4-48a3-a9ad-43175408a79d.png)

[2022-11-29 10:55] jerqi commented on #373
3. We choose hash selection strategy. Because we want to reduce the size of meta data which  we need maintain in the memory.

[2022-11-29 11:53] jerqi commented on #375
I can't reproduce it
<img width="592" alt="企业微信截图_d2c7b81e-33b0-4067-ae64-ee6be96f5e39" src="https://user-images.githubusercontent.com/8159038/204522141-260d0ff8-bcdf-4544-9439-cc98387f8ff6.png">

[2022-11-29 14:58] #285 closed

[2022-11-29 16:13] smallzhongfeng opened #376 "[Bug] Concurrency problems may occur when the ApplicationManager registerApplicationInfo"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I have searched in the [issues](https://github.com/apache/incubator-uniffle/issues?q=is%3Aissue) and found no similar issues.

### Describe the bug

[code]
In the process of `registerApplicationInfo` in `ApplicationManager`, we need to r

[2022-11-30 02:20] xianjingfeng commented on #375
Not run `ShuffleServerWithMemLocalHdfsTest`.
Try to run `ShuffleServerWithMemLocalHdfsTest.memoryLocalFileHDFSReadWithFilterTest`
It only appears when execute a single method

[2022-11-30 02:37] jerqi commented on #375
Could the maven reproduce this problem?

[2022-11-30 02:45] xianjingfeng commented on #375
[code]
This is ok.

[2022-11-30 02:46] jerqi commented on #375
I guess this problem is related to IDEA.

[2022-11-30 02:47] jerqi commented on #375
So I think we should close this issue.

[2022-11-30 02:53] xianjingfeng commented on #375
I think we should consider if it is reasonable first. Whether `@BeforeAll` of parent class is always execure before the assignment of static variables.

[2022-11-30 03:06] jerqi commented on #375
I think that there is no problem about grammar.

[2022-11-30 04:23] #375 closed

[2022-11-30 04:26] xianjingfeng commented on #373
3. Can we use Consistent Hashing?

[2022-11-30 06:11] zuston commented on #372
We could populate this replica concept into ShuffleTaskInfo when client registers to shuffle-server.

[2022-11-30 06:28] jerqi commented on #372
We should be careful about involving the replica concept in server. Especially, we need modify rpc proto. I think this will be an important concept. How to development the concept in the future? This is what we need to think of?
It's better to ask @xianjingfeng for some advice. Because he has more business needs about production environment.

[2022-11-30 06:31] zuston commented on #372
Feel free to discuss more. Now we also suffer from the problem of single partition data too large and need this to make job fast fail to improve stability.

[2022-11-30 06:37] jerqi commented on #372
For huge shuffle, we really recommend to use MEMORY_LOCALFILE_HDFS. You can use a large value `rss.server.flush.cold.storage.threshold.size` to reduce the data size of shuffle which were written to HDFS.

[2022-11-30 06:39] zuston commented on #372
Yes. I have to evaluate this proposal of `MEMORY_LOCALFILE_HDFS`

[2022-11-30 06:42] jerqi commented on #372
Yes. you're right.

[2022-11-30 06:42] xianjingfeng commented on #372
I think it is possible that both disk and hdfs can't be write. Maybe because of the network or GC. I am ok if just for one replica.

[2022-11-30 11:32] jerqi commented on #376
Good catch.